[2021-10-11 15:05] smortexa commented on #401
I have the same issue.

[2021-10-11 16:43] #401 closed, assigned to nobody

[2021-10-12 09:51] sikhlana commented on #399
Unfortunately, the concurrent tasks run on different `php` processes and resources cannot be shared to the main process as they point to the child process' internal handler.

One way to bypass this issue would be to save the resource in a temp file which then gets reopened by the main process.

[2021-10-13 19:00] iowahansen opened #403 "Improve octane:status latency"
Hello,

I'm using

[code]

in my Docker image and that adds around ~700ms to the cold start time of my container. That seems quite a bit to check if the server is running. Even after startup, repeated php artisan octane:status commands never complete quicker than 700ms.

Would be great if that could be optimized.

Thanks!

[2021-10-14 07:00] #403 closed, assigned to nobody

[2021-10-14 16:43] AbdullahFaqeir opened #404 "Swoole WebSocket Server using SocketIO"
Hey,

Is there any plans to add support for Swoole WebSocket server special using SocketIO implementation?

[2021-10-14 20:00] sybbear opened #405 "Swoole & Blackfire profiling - readiness & guidelines"
Is Octane generally ready for Blackfire profiling and if so, are there any guidelines?

One library provides an integration of Blackfire and Swoole:

https://github.com/upscalesoftware/swoole-blackfire
I wonder if it would be sufficient to create a Middleware and profile requests based on header values.

[2021-10-15 08:44] driesvints commented on #404
Heya, we don't have plans for this right now no, sorry.

[2021-10-15 08:44] #404 closed

[2021-10-15 08:45] driesvints commented on #405
I think that looks cool @sybbear but probably not something we'll be working on ourselves. If you ever figure out how to make that work we could maybe include a small section in Octane's docs. Otherwise a blog post might be a good idea? Thanks

[2021-10-15 08:45] #405 closed

[2021-10-20 03:18] tcampbPPU opened #406 "PHP $_SERVER array no longer includes HTTP_REFERER when using Octane on Vapor"
- Octane Version: `1.0.13`
- Laravel Version: `8.64.0`
- PHP Version: [`8.0`](FROM `laravelphp/vapor:php80`)
- Server & Version: RoadRunner `2.4.1`
- Database Driver & Version: RDS MySQL 8.0

### Description:
I am testing out Octane on one of my Vapor environments. Often when doing authentication I need to use the `REFERER` from the HTTP header. When only adding Octane to my project I now get:
[co

[2021-10-21 10:21] JackN-code commented on #111
Hi @thyseus, thanks for the solution, it makes octane works on port 80, but somehow the performance goes down a lot. Do you encounter the same issue? Leaving at port 8000 and with 2000 requests, average response time is about 50ms, but port 80 is about 100 ms.

Using vapor with aws lambda, it means x2 cost

[2021-10-21 18:58] foremtehan opened #409 "WorkerStarting event will executed several time"
- Octane Version: *
- Laravel Version: 8.*
- PHP Version: 8.*
- Server & Version: Swoole

### Description:
When i add listener to `WorkerStarting` event like so:

[code]

[code]

First, It never cache the data, Second the event calling my listener multiple not just once, I just want to cache some data after swoole started but it not working as expected.

I also tested the `$this->app->booted()` it

[2021-10-21 20:16] maher1337 commented on #390
first make sure you do `composer dump-autoload -o ` then go to bootstrap/cache folder and delete everything there and restart your octane server and it should work.

[2021-10-22 09:10] fykyx521 opened #410 "artisan call in route memory leaks"
- Octane Version: v1.0.15
- Laravel Version: v8.64.0
- PHP Version: 8.0.3
- Server & Version: Swoole  4.6.6
- Database Driver & Version: no

### Description:

#### startup
`
php artisan octane:start --workers=1 --port=8000 --task-workers=4 --server=swoole
`
#### route (route/api.php)
`
Route::get('/hello', function (Request $request) {
    \Illuminate\Support\Facades\Artisan::call('hello');
    re

[2021-10-22 09:11] #410 closed, assigned to nobody

[2021-10-23 07:57] foremtehan opened #411 "Swoole\Server::start(): Unexpected end of serialized data"
- Octane Version: 10.14
- Laravel Version: 8.*
- PHP Version: 8.*
- Server & Version: Swoole
- Database Driver & Version:

I find this exception in console :

[code]

It randomly happens dont know what cause this.

[2021-10-23 08:11] #411 closed, assigned to nobody

[2021-10-24 13:08] mawebcoder opened #412 "octane logs streaming video file in the console instead of showing in the browser"
- Octane Version: 1.0.12
- Laravel Version: 8
- PHP Version: 8
- Server & Version: Swoole / RoadRunner
- Database Driver & Version:

i decide to  stream video file  in the browser.
generally ,"php artisan serve" works normally.
but with "php artisan octan:start" just binary file is shown in the console.
please help me to solve this problem.
thanks;

[2021-10-24 18:07] #412 closed, assigned to nobody

[2021-11-03 16:46] fulopattila122 commented on #411
I've got the same error in the terminal console where `octane:start` is running, whereas in the browser I've got this error: `Serialization of 'Doctrine\DBAL\Driver\PDOConnection' is not allowed`.

It showed up when I added `Octane::concurrently([...])` to one of the controllers.

Have you figured out something @foremtehan?

[2021-11-03 17:20] fulopattila122 commented on #411
I've found a solution. In my case, we shouldn't pass a query builder to a co-routine task.

Ie. instead of this:

[code]

use this:

[code]

This little incident has raised my awareness that those co-routine tasks are running completely without the current context and everything passed over there gets serialized.

Yes, it could be structured better than just a private method on the controller.

[2021-11-03 17:39] foremtehan commented on #411
I stop using octane, I encountered so many weird errors from octane codebase, besides of `Unexpected end of serialized data` i got [https://github.com/laravel/serializable-closure/issues/26](Serialization of 'CurlHandle' is not allowed) too.

I was using octane in heroku about 6 month, Last week heroku killed my dyno cuz of heavily memory leak (2GB+ swap memory) I didnt even used swoole table or a

[2021-11-04 12:04] carestad opened #414 "phpinfo() output missing markup when called from controller/route method"
- Octane Version: 1.0.17
- Laravel Version: 8.69.0
- PHP Version: 8.0.12
- Server & Version: Swoole v4.7.0 / RoadRunner v2.5.3
- Database Driver & Version: mariadb v10.6

### Description:

`phpinfo()` output is missing markup whtn called from a controller method or route closure. `php_sapi_name()` is also `cli` where for `artisan:serve` it would be `cli-server`. This happens with both Swoole and R

[2021-11-04 13:22] nunomaduro commented on #414
Unfortunately, because Octane is started from the "CLI", there is not real way of mutating the SAPI PHP module. So all php core functions, based on that module, including `phpinfo`, will work a little bit differently.

[2021-11-04 13:22] #414 closed

[2021-11-04 16:26] zarikx opened #415 "Memory leak inside `NamespacedItemResolver::parsed()` cache when Octane is used"
- Laravel Version: 8.69.0
- PHP Version: 8.0.12
- Database Driver & Version: N/A

### Description:
There are some caching mechanism inside [`\Illuminate\Support\NamespacedItemResolver::parseKey()`](https://github.com/laravel/framework/blob/v8.69.0/src/Illuminate/Support/NamespacedItemResolver.php#L43) method.
But this cache is never flushed when running Laravel Octane. This leads to some memory le

[2021-11-06 08:04] foremtehan commented on #411
About memory leak issue on my side, i found out i had a infinite loop query in part of my code, but why it cause the memory leak ? what octane store in memory when it cant stop query ?

[2021-11-06 08:15] fulopattila122 commented on #411
The whole point of octane/swoole/roadrunner is to keep the application in memory.
Traditional PHP applications boot up the application from scratch at every request.

[2021-11-06 08:51] foremtehan commented on #411
i dont think you read my comment

[2021-11-06 08:53] foremtehan commented on #415
@zarikx thank you for reporting this important issue, i use a lot translator in my app

[2021-11-06 09:23] fulopattila122 commented on #411
I read, but yeah, maybe I didn't understand it correctly.

[2021-11-06 13:16] foremtehan opened #417 "Undefined array key "type" in InteractsWithIO"
- Octane Version: 1.0.16
- Laravel Version: 8,68
- PHP Version: 8
- Server & Version: Swoole

### Description:
I dump some php super global variables and octane come with the following error:

[code]

### Steps To Reproduce:

[code]

(it also print the data inside of the console rather than then browser)

[2021-11-06 13:44] foremtehan commented on #417
https://github.com/laravel/octane/pull/413

[2021-11-06 13:44] #417 closed

[2021-11-08 08:33] nunomaduro commented on #415
This issue will be fixed on the next release.

[2021-11-09 16:09] #399 closed, assigned to nobody

[2021-11-10 20:13] foremtehan opened #418 "Exception cant be caught in `concurrently`"
- Octane Version: 1.0.18
- PHP Version: 8.*
- Server & Version: Swoole

### Description:
When some exception thrown in `Octane::concurrently` it terminate the script even though on try/catch

### Steps To Reproduce:
[code]

[2021-11-10 20:21] Namoshek commented on #418
Haven't played with this feature myself yet, but I guess you should add the exception handling to each of the closures you are passing to `Octane::concurrently()` to ensure each closure returns a valid result (or potentially some sort of optional result which can be success/error at the same time).

[2021-11-12 16:51] #418 closed

[2021-11-12 21:04] caiokawasaki commented on #399
Didn't work for me, since I only need the code and the response, my solution was:

[code]

[2021-11-16 19:25] dev-techguy opened #422 "Model Collection Not Displaying On Blades"
- Octane Version: 1.0.19
- Laravel Version: 8.71.0
- PHP Version: 8.0.12
- Server & Version: Swoole
- Database Driver & Version: postgres 12

No data is being displayed on the blade.

Return a model collection on a blade and try to loop through via a table.

[2021-11-16 19:27] dev-techguy commented on #422
When using with Livewire

[2021-11-16 19:39] driesvints commented on #422
Hi there,

Thanks for reporting but it looks like this is a question which can be asked on a support channel. Please only use this issue tracker for reporting bugs with the library itself. If you have a question on how to use functionality provided by this repo you can try one of the following channels:

- [Laracasts Forums](https://laracasts.com/discuss)
- [Laravel.io Forums](https://laravel.io/f

[2021-11-16 19:39] #422 closed

[2021-11-23 08:53] dev-techguy commented on #422
Thanks, I found the issues.

[2021-11-24 05:17] alignwebs commented on #237
Thanks @krissss

[2021-11-25 21:18] nazmulpcc opened #425 "Add support for ReactPHP"
Good Day,
Is there any plan to integrate [ReactPHP](https://reactphp.org/http/)? Or is there any specific reason for it not existing?
I've played around with it a bit and seems like basic request/response, static files & file responses work pretty great with Octane & ReactPHP!
I could spend some more time in it & send a PR if needed.
Thanks

[2021-11-25 22:20] driesvints commented on #425
We have no plans for react php atm sorry. Swoole and roadrunner are the only ones well natively support in octane for now. We don't want the maintenance burden of another driver.

[2021-11-25 22:20] #425 closed

[2021-11-26 05:14] tezhm opened #426 "Process->getIncrementalOutput() does not flush output buffer"
- Octane Version: 1.0.18
- Laravel Version: 8.70.2
- PHP Version: 8.0.13
- Server & Version: Swoole / RoadRunner 2.5.6
- Database Driver & Version:

### Description:

`StartRoadRunnerCommand->writeServerOutput()` queries the worker output via `Process->getIncrementalOutput()` which internally buffers the worker process output. This buffer is not flushed and thus keeps growing indefinitely.

I have

[2021-11-26 17:51] nunomaduro commented on #426
@tezhm What exactly makes you think that "This buffer is not flushed and thus keeps growing indefinitely."? What have you used to conclude this?

[2021-11-26 21:29] tezhm commented on #426
Process stores output logs to php://temp. This buffer temporarily stores
logs to file after output reaches a certain size. The
`getIncrementalOutput()` iterates over output rather than flushing it.
Reason for this is so all output can be queried later using `getOutput()`.
Thus, if output is never flushed the temporary file will grow indefinitely.

On Sat, 27 Nov 2021, 3:51 am Nuno Maduro, ***@***.

[2021-11-29 20:02] mcolominas commented on #113
Laravel octane has no problem with this, when using laravel octane, you have to think differently from what you normally program, in the case of routes, whether they are cached or not, they only run once and stay loaded, for Therefore, when you visit for the first, second, third or more times, you will only get the routes that are already loaded, therefore, laravel octane, offers you ways to resta

[2021-11-30 04:05] mkgn commented on #220
@themsaid - We are also starting a multi-tenant project and first doing a POC with a tech stack we are going to use. So we came across this thread. The problem mentioned by @ibrasho will effect us as well. Can you please point us at right direction so may be we can do some custom dev (may be like middleware) for octane so we can get this done?

[2021-11-30 11:02] ju5t commented on #113
@mcolominas thanks for the suggestion, it's looks like a good solution. But it's probably not for us.

I know how Octane works, but we no longer use mcamara/laravel-localization. We've switched to a custom solution for localisation and also dropped the idea of using Octane for now. We don't have a real incentive for it at the moment (speed, cost, or something else) and as you said, it comes with s

[2021-11-30 20:48] ibrasho commented on #220
@mkgn This was resolved in an earlier release. What issue are you still facing?

[2021-12-01 02:36] mkgn commented on #220
@ibrasho - oops sorry I jumped the gun I suppose. We are planning to integrate Octane next week and just saw this so thought to drop the question and ask what areas we need to look for if we are to get it done ourselves. Sorry about this. Anyway will get back next week If we actually get stuck.

[2021-12-01 06:01] nevrending opened #430 "php artisan octane:install --server=roadrunner Failed on RoadRunner 2.6.0"
- Octane Version: 1.0.21
- Laravel Version: 8.74
- PHP Version: 8.1.0
- Server & Version: RoadRunner 2.6.0

### Description:
Hi, RoadRunner had just released v2.6.0 and I noticed my CI (with PHP 8.0.13) are failing with a similar error message as below.
I've managed to reproduce this locally as well.
`php artisan octane:install --server=roadrunner` will automatically download this latest version a

[2021-12-01 16:48] wimil commented on #173
I have the same problem, how can I fix it ?, I tried to increase the bytes and row but it doesn't work.

[2021-12-02 10:13] nunomaduro commented on #430
Do you mind trying it again? It may have been a temporary issue with the server that serves the Roadrunner binary.

Unfortunately, we can't reproduce your issue on our laptops, therefore we can't help you. Feel free to re-create the issue, if you manage to provide clear steps on how to reproduce this issue in others people's laptops.

[2021-12-02 10:13] #430 closed

[2021-12-04 14:01] mcolominas commented on #113
@ju5t  I'm sorry to hear that, but I understand, since it's been several months and no one responded.

I also have my own (private) packet for translating urls, since I don't like mcamara/laravel-localization, and it lacks some functions that my package has.

Regarding the performance of laravel octane, I can say that you can see a noticeable difference, in terms of speed, in a basic installation,

[2021-12-05 06:38] haught commented on #173
This is an issue that needs to be worked around. You can set an entry to the swoole table that is larger the it can contain and we don't get a false back from $this->table->set() in the **put** method. It thinks it added it correctly. This would probably be something that swoole needs to address.

The problem on the octane side is that we are failing to handle the unserialize error on the **get**

[2021-12-05 10:20] smortexa opened #431 "Gates do not work in `Octane::concurrently()`"
- Octane Version: 1.0.21
- Laravel Version: 8.74.0
- PHP Version: 8.0.13
- Server & Version: Swoole 4.8.2
- Database Driver & Version: MariaDB 10.2

### Description:
The Laravel authorization services do not work in `Octane::concurrently()`

### Steps To Reproduce:

Just try:
[code]

[2021-12-05 13:03] michael-rubel opened #432 "octane:reload command doesn't reflect changes (swoole)"
- Octane Version: v1.0.20
- Laravel Version: v8.73.2
- PHP Version: v8.1.0
- Server & Version: Swoole v4.8.2
- Database Driver & Version: MariaDB v10.6.4

### Description:
`octane:reload` doesn't reflect changes with Swoole.
The issue basically the same as [this one](https://github.com/laravel/octane/issues/364) or [this one](https://stackoverflow.com/questions/68299225/octanereload-on-centos-8-do

[2021-12-06 03:26] kevincobain2000 commented on #432
Yes, I have also noted the same issue.
It doesn't reflect changes when new route/controller is added.

[2021-12-06 08:20] driesvints commented on #432
Since this is about a specific bistro on Linux that we don't use ourselves I'm afraid we can't provide support here. It works well on Ubuntu (the default distro on Forge). We'd very much welcome PR's that would run Octane on CentOS.

[2021-12-06 08:20] #432 closed

[2021-12-06 10:32] driesvints commented on #431
Octane's concurrent requests are totally separate processed. As such, there's no auth state or any "http" state at all. Please see the docs here: https://laravel.com/docs/8.x/octane#concurrent-tasks

![Screenshot 2021-12-06 at 11 32 20](https://user-images.githubusercontent.com/594614/144830956-5ad2026e-af04-45d5-bcc2-b5dcadec008d.png)

[2021-12-06 10:32] #431 closed

[2021-12-06 17:56] michael-rubel commented on #432
@driesvints Looks like the issue isn't CentOS-related.
It's something about the configuration cache and Octane's internal behavior.
When I type the following:
[code]
Then it works.
If I add:
[code]

Then the changes aren't made.

Perhaps Laravel takes the snapshot of the optimized config cache from an existing Octane instance so we cannot update the cache. Maybe it doesn't make sense at all in the

[2021-12-07 22:03] p5ych0 opened #433 "Providers are not being reloaded while in development environment using --watch"
- Octane Version: 1.0.21
- Laravel Version: 8.75.0
- PHP Version: 8.0.13
- Server & Version: Swoole

### Description:

Changes to routes and service providers cause octane's reloading and I can see this from the logs, however actual changes are not being applied.
Manual stopping of supervisor's process doesn't help as well.

### Steps To Reproduce:
php cli container with supervisord running on beh

[2021-12-07 22:06] driesvints commented on #433
Hey there,

Can you first please try one of the support channels below? If you can actually identify this as a bug, feel free to open up a new issue with a link to the original one and we'll gladly help you out.

- [Laracasts Forums](https://laracasts.com/discuss)
- [Laravel.io Forums](https://laravel.io/forum)
- [StackOverflow](https://stackoverflow.com/questions/tagged/laravel)
- [Discord](https

[2021-12-07 22:06] #433 closed

[2021-12-09 18:26] #173 closed

[2021-12-09 18:26] nunomaduro commented on #173
This will be fixed on the next release, next week.

[2021-12-10 12:29] sybbear commented on #399
@caiokawasaki
I updated Octane and it stopped working, however this line still worked:

`$response->bodyContents = $response->getBody()->__toString();`

[2021-12-13 14:17] masterjus opened #436 "Deny"
- Octane Version: all
- Laravel Version: 8.*
- PHP Version: 8.0
- Server & Version: RoadRunner 2.6.4
- Database Driver & Version:

### Description:
There's an option in the roadrunner serve command:

`'-o', 'http.static.dir='.base_path('public'),`

That means that the folder `public` contains static content.

So if we want to use roadrunners without nginx, the index.php file could be called and di

[2021-12-13 14:20] masterjus commented on #436
Possible solution is to use an option `forbid`.
[code]

[2021-12-13 14:23] driesvints commented on #436
I don't think we have any plans for this sorry. It's also very unclear what's the issue here. If you want to help improve Octane we're welcoming PR's. Thanks.

[2021-12-13 14:23] #436 closed

[2021-12-16 08:48] foremtehan opened #440 "Swoole\Table::set(): failed to set('cache.key'), unable to allocate memory"
- Octane Version: 1.0.21
- Laravel Version: 8
- PHP Version: 8
- Server & Version: Swoole

### Description:
I saw this error in my logs just want to let you know about it, Because it doesnt happen for all keys

### Steps To Reproduce:

[code]

[code]

[2021-12-16 08:56] driesvints commented on #440
That seems like a hiccup on your own device. Please try a support channel:

- [Laracasts Forums](https://laracasts.com/discuss)
- [Laravel.io Forums](https://laravel.io/forum)
- [StackOverflow](https://stackoverflow.com/questions/tagged/laravel)
- [Discord](https://discordapp.com/invite/KxwQuKb)
- [Larachat](https://larachat.co)
- [IRC](https://web.libera.chat/?nick=laravelnewbie&channels=#laravel

[2021-12-16 08:56] #440 closed

[2021-12-16 17:07] miladrahimi opened #442 "package_max_length is hard-coded"
- Octane Version: 1.1.0
- Laravel Version: 8
- PHP Version: 8
- Server & Version: Swoole
- Database Driver & Version: N/A

### Description:
"package_max_length" which is one of Swoole server optiosn is hard-coded (10MB) and not configurabale.

### Steps To Reproduce:
Try to upload a 10 MB or larger file using laravel octane (with Swoole driver)

https://github.com/laravel/octane/blob/1.x/src/Comma

[2021-12-16 17:10] maher1337 commented on #442
Hello,
That is not correct. its not "hard-coded" instead introduce the following to your octane.php
`'swoole' => [
        'options' => [
            'package_max_length' => 20 * 1024 * 1024,
        ],
    ],`
This will set package_max_length to 20 MB

[2021-12-16 17:58] miladrahimi commented on #442
It works, thanks. But it needs to be documented and maybe added to octane config with empty `[]` bracket.

[2021-12-16 17:58] #442 closed

[2021-12-17 09:40] masterjus opened #443 "Error if `http.pool.supervisor.ttl` was set"
- Octane Version: 1.1.0
- Laravel Version: 8.x
- PHP Version: 8.0
- Server & Version: RoadRunner 2.6.4
- Database Driver & Version:

### Description:

We have a very high load app, so time to time is necessary to reload app because of OOM. It's hard to detect a correct number of requests to reload (the `max-requests` option). We decided to add option `http.pool.supervisor.ttl` on our .rr.yaml to r

[2021-12-17 09:45] masterjus opened #444 "RoadRunner KV support"
There's the KeyValue plugin for Roadrunner (https://roadrunner.dev/docs/beep-beep-kv).

For now, few very useful features like cache, tables are available for Swoole only. But the same functionality could be implemented by using the KeyValue plugin for Roadrunner.

[2021-12-17 10:10] driesvints commented on #444
Heya. We'll take this in our backlog but for now we don't plan on working this ourselves. We would appreciate PR's however. Thanks

[2021-12-17 10:10] #444 closed

[2021-12-17 21:40] #443 closed

[2021-12-19 01:27] nathan-io opened #446 "PHP Fatal Error on octane:start on fresh Laravel 8 app"
- Octane Version: 1.1.0
- Laravel Version: 8.76.2
- PHP Version: 8.0.13
- Server & Version: Swoole 4.8.4
- Database Driver & Version: Postgres 13.5

### Description:

Getting the following output when I run `php artisan octane:start` in a fresh Laravel installation:

[code]

The only other packages installed are: Breeze and Nova.

The Swoole extension is active:

[code]

I have _not_ yet configure

[2021-12-19 14:29] nunomaduro commented on #446
Created an issue in their repository: https://github.com/swoole/swoole-src/issues/4545. If they don't address this soon, I will have to adjust Octane code to accommodate potentially breaking changes between versions on the Table class.

[2021-12-19 14:40] nathan-io commented on #446
Thank you!

[2021-12-20 04:42] sy-records commented on #446
After the Swoole fix, it still needs to be compatible in octane

[2021-12-20 12:34] nunomaduro commented on #446
Waiting for the Swoole team to release a new version before closing this issue.

[2021-12-20 13:39] Baiquette opened #448 "Octane: HTTP logs not shown with Roadrunner 2.6.6"
- Octane Version: ^1.1
- Laravel Version: 8.76.2
- PHP Version: 8.0.13
- Server & Version: RoadRunner 2.6.6
- Database Driver & Version:

### Description:
Hello,
I just created a new Laravel 8 application by adding laravel/octane.
[code]
When I start Laravel Octane with Roadrunner 2.6.6, I don't have the HTTP logs anymore.
By installing Laravel Octane 2.5, the issue is not present.

### Steps To R

[2021-12-20 13:47] nunomaduro commented on #448
I am working on fixing this.

[2021-12-20 13:58] maher1337 commented on #446
In the mean-time use a lower version of swoole if you want a workaround @nathan-io

[2021-12-20 15:11] nunomaduro commented on #448
The fix will be released tomorrow.

[2021-12-20 15:11] #448 closed

[2021-12-23 14:01] masterjus opened #450 "Wrong log level for roadrunner worker"
- Octane Version: 1.1.1
- Laravel Version: 8.x
- PHP Version: 8.0.13
- Server & Version: RoadRunner 2.6.6

### Description:
Doesn't matter in which mode server was executed, `info` level logs are returned.

I've checked the documentation, there's no log level `warning`. `warn` is correct one.

https://github.com/spiral/roadrunner-binary/blob/master/.rr.yaml#L84

### Steps To Reproduce:
Run octane

[2021-12-23 14:15] masterjus commented on #450
it's very important to fix because now we have stdout full of info messages

[2021-12-23 14:16] masterjus commented on #450
https://github.com/laravel/octane/blob/1.x/src/Commands/StartRoadRunnerCommand.php#L88 here should be `logs.level=warn` instead of `logs.level=warning`

[2021-12-23 14:21] driesvints commented on #450
@masterjus We're open to prs

[2021-12-23 14:30] masterjus commented on #450
Done

[2021-12-23 15:30] #450 closed

[2021-12-24 14:42] Sander0542 commented on #446
The Swoole team has released a new version which works with the current Octane version.

[2021-12-25 11:00] driesvints commented on #446
Closing this because Swoole released a fix.

[2021-12-25 11:00] #446 closed

[2021-12-27 04:26] ioiofadhil opened #453 "laravel octane 500 Internal Server Error"
- Octane Version : ^1.0
- Laravel Version : 8.73.2
- PHP Version : 8.0
- Server : Swoole
- Database Driver : MongoDB

### Description:
im trying to use async for creating records on models. It worked but the postman returned 500 Internal Server error. In this case, the records is created, but the status isnt 200(ok). Why? is there any memory limit on octane which triggered this 500 status?
My code

[2021-12-27 04:28] ioiofadhil commented on #453
I'm trying to avoid this by using laravel queue. But inside the Queue, it runs synchronously (not async).

[2021-12-27 08:24] ioiofadhil commented on #453
Also when i tried to GET more than about 600 records, its not displayed but status was OK (200).
code :
[code]

[2021-12-27 13:49] driesvints commented on #453
Hey there,

Can you first please try one of the support channels below? If you can actually identify this as a bug, feel free to open up a new issue with a link to the original one and we'll gladly help you out.

- [Laracasts Forums](https://laracasts.com/discuss)
- [Laravel.io Forums](https://laravel.io/forum)
- [StackOverflow](https://stackoverflow.com/questions/tagged/laravel)
- [Discord](https

[2021-12-27 13:49] #453 closed

[2021-12-29 01:25] nathan-io commented on #446
Here's what I did to get the fix:

[code]

[2022-01-02 23:47] kingIZZZY commented on #404
+1 🙏😌 can haz please?

[2022-01-03 00:08] kingIZZZY commented on #110
+1 🙏 need WebSockets in octane
@forestlovewood any hope?

[2022-01-03 09:42] saulens22 opened #454 "Swoole fails to restart while watching for changes on Debian system"
- Octane Version: 1.1.1
- Laravel Version: 8.77.1
- PHP Version: 8.1.0
- Server & Version: Swoole 4.9.1
- Database Driver & Version: irrelevant

### Description:
After changing configuration / publishing package config / updating packages / making error in code, Octane server fails to restart correctly because of missing `pgrep` package. I'm using Debian, which doesn't include `pgrep` by default.

[2022-01-03 10:21] Abhi0725 opened #455 "Swoole not reflecting changes after deployment via Envoyer"
- Octane Version: v1.1.0
- Laravel Version: ^8.65
- PHP Version: 8.1.0
- Server & Version: Swoole / RoadRunner Swoole 4.8.3
- Database Driver & Version: MySql 8.0.26

### Description:
I am deploying Octane project via Envoyer. I have added `octane:reload` command in my deployment hooks but the changes are not getting reflected.

### What have I tried?

I tried a hack to stop octane before the "act

[2022-01-03 10:40] driesvints commented on #455
Heya, can you please contact Envoyer support in-app? Thanks

[2022-01-03 10:40] #455 closed

[2022-01-03 10:55] driesvints commented on #454
You'll indeed need those packages for this to work.

[2022-01-03 10:55] #454 closed

[2022-01-20 03:22] jiangyong19910326 opened #462 "这是为什么，启动sail up -d的时候docker 反馈的错误，不能确定当前的roadrunner binary版本"
![Uploading image.png…]()

[2022-01-20 07:56] driesvints commented on #462
Unfortunately we can only provide support in English. Please try https://learnku.com/laravel

[2022-01-20 07:56] #462 closed

[2022-01-20 15:31] Atomzwieback opened #463 "[Feature Request] Implement function to receive swoole server statistics in OpenMetrics format"
Hi,

i would like to request the feature to utilize the [swoole server statistics](https://openswoole.com/docs/modules/swoole-server-stats) due we cant access the swoole server variable we cant get it directly. We need this feature to export this data via OpenMetrics format to octane

[2022-01-20 16:00] driesvints commented on #463
We have no plans for this right now, sorry.

[2022-01-20 16:00] #463 closed

[2022-01-25 13:59] vaawebdev opened #466 "Illuminate\Support\Str cache for octane"
- Laravel Version: 8.80.0
- PHP Version: 8.1.0

### Description:

I was wondering if there is a functionality regarding clearing `Illuminate\Support\Str` cache like (`$snakeCache`, `$camelCache`, `$studlyCache` etc) between octane requests since it might lead to memory leaks

[2022-01-25 14:24] midsmr opened #467 "`octane:start` calls the service provider's `register` method and `boot` method multiple times"
- Octane Version: 1.2.0
- Laravel Version: Laravel Framework 8.80.0
- PHP Version: 8.1.2
- Server & Version: Swoole 4.8.6
- Database Driver & Version: no database is used

### Description:

`octane:start` calls the service provider's `register` method and `boot` method multiple times

### Steps To Reproduce:

[code]

[code]

[code]

[code]

[2022-01-25 14:34] driesvints commented on #467
Octane is a continuous process so this is expected.

[2022-01-25 16:12] midsmr commented on #467
Sorry, my brain is short circuited @driesvints

[2022-01-25 19:40] #466 closed

[2022-01-26 16:03] spawnia opened #469 "Terminate gracefully on SIGTERM"
- Octane Version: 1.2.0
- Laravel Version: 8.80.0
- PHP Version: 8.0.9
- Server & Version: Swoole 4.7.0
- Database Driver & Version: None

### Description:

When terminating a running Octane process with `SIGTERM`, it exits with the non-zero exit code `137`.
This indicates a crash or abrupt failure.

I would expect the process to terminate gracefully with exit code `0`.

### Steps To Reproduce:

[

[2022-01-27 08:33] driesvints commented on #469
Although not ideal, I don't see this as disruptive or blocking. Feel free to send in a PR if you have a fix 👍

[2022-01-27 08:33] #469 closed

[2022-01-28 15:44] smortexa opened #470 "`max_execution_time` config doesn't work"
- Octane Version: 1.1.1
- Laravel Version: 8.77.1
- PHP Version: 8.1.0
- Server & Version: Swoole 4.8.3

### Description:
When the execution time for requests being handled by Octane exceeded from `max_execution_time` in `octane.php` config file, the Octane wouldn't send any response and the request remains in the pending state.

### Steps To Reproduce:

Set `max_execution_time` to `2` seconds in

[2022-01-29 01:49] sy-records commented on #470
When the max_execution_time is reached, it is a SIGKILL signal sent directly, so it causes no response.

https://github.com/laravel/octane/blob/722b7567e2817b3f5e4a4ae7b49290f53968a114/src/Swoole/Actions/EnsureRequestsDontExceedMaxExecutionTime.php#L27

This is not a bug, but requires Swoole support.
OpenSwoole adds a [max_request_execution_time](https://openswoole.com/docs/modules/swoole-server/c

[2022-01-29 07:48] driesvints commented on #470
Thanks @sy-records

[2022-01-29 07:48] #470 closed

[2022-01-31 18:38] nhuantg-0950 opened #471 "Why slow request with roadrunner"
- Octane Version: "^1.2",
- Laravel Version: v8.80.0
- PHP Version: 8.1.1
- Server & Version: RoadRunner v2.7.4
- Database Driver & Version:
- OS: Mac m1

### Description:

i use laravel sail and autocannon to test benchmark:
`autocannon -c 100 -d 10 http://127.0.0.1/test`

route only return welcome page:
[code]
![image](https://user-images.githubusercontent.com/49549426/151850616-ee19ca4e-08d6-41

[2022-01-31 18:46] nunomaduro commented on #471
This issue happens with a fresh Laravel project, or in your existing Laravel project?

[2022-01-31 18:49] nhuantg-0950 commented on #471
It happens with new project installed from `curl -s "https://laravel.build/example-app" | bash`

[2022-01-31 19:21] nunomaduro commented on #471
I was not able to reproduce the issue in a fresh Laravel project, and the latest versions of PHP, Octane and Roadrunner. We are going to pay attention to see if someone else reports this issue, meanwhile you can try to understand in your side where this issue is coming from and why is only effecting your system.

[2022-01-31 19:21] #471 closed

[2022-02-02 23:39] zek opened #472 "Nova Timezone Doesn't work"
- Octane Version: 1.2.0
- Laravel Version: 8.81.0
- PHP Version: 8.1
- Server & Version: Swoole
- Database Driver & Version: mysql 8

### Description:

`Nova::userTimezone` change does not reflect when using octane.

### Steps To Reproduce:

Install nova & octane, force timezone in NovaServiceProvider

[code]

### Possible Solution

I've created a listener for `RequestReceived` event and changed t

[2022-02-03 09:43] driesvints commented on #472
It seems this is a duplicate of https://github.com/laravel/nova-issues/issues/3724

[2022-02-03 09:43] #472 closed

[2022-02-04 00:15] smortexa opened #473 "Terminating callbacks don't work"
- Octane Version: 1.1.1
- Laravel Version: 8.77.1
- PHP Version: 8.1.0
- Server & Version: Swoole 4.8.3

### Description:
The `app()->terminating()` and `dispatch()->afterResponse()` don't work.

### Steps To Reproduce:

[code]

The callback wouldn't call after the response was sent.

[2022-02-04 16:22] nunomaduro commented on #473
Using `Laravel Framework 8.82.0` and `Octane 1.2.0`, I got "terminating" message in my logs every time I visited the `/` route on the browser.

[code]

[2022-02-04 16:51] osteel opened #474 "Support extended request object"
Hi,

We use a custom `Request` class that extends the base one and that we inject everywhere. E.g. in `public/index.php`:

[code]

With Octane that's failing because the worker [passes on](https://github.com/laravel/octane/blob/1.x/src/Worker.php#L92) a regular `Request` instance:

[code]

Would it be possible to add support for custom request objects to Octane?

Thank you

Yannick

[2022-02-04 16:57] nunomaduro commented on #474
IMO Octane should not support those sort of customisations.

[2022-02-04 17:08] osteel commented on #474
@nunomaduro why is that?

[2022-02-04 18:30] osteel commented on #474
I kept looking into it and managed to get it to work with a middleware making the conversion instead. I still think it would be nice to have a more official way to support this, but closing for now since I addressed my immediate issue. Thanks!

[2022-02-04 19:35] Namoshek commented on #474
What about providing additional logic via macro (untested)?
[code]

[2022-02-05 08:50] eafshary opened #475 "configuring swoole http-server without nginx in front"
Hi, how can I configure a swoole http-server without nginx?
my problem is domain routing. where can I configure a specific domain for swoole http-server?

[2022-02-05 08:51] driesvints commented on #475
Hi there,

Thanks for reporting but it looks like this is a question which can be asked on a support channel. Please only use this issue tracker for reporting bugs with the library itself. If you have a question on how to use functionality provided by this repo you can try one of the following channels:

- [Laracasts Forums](https://laracasts.com/discuss)
- [Laravel.io Forums](https://laravel.io/f

[2022-02-05 08:51] #475 closed

[2022-02-05 09:45] martio opened #476 "419 Page Expired with Octane, Sail and Dusk"
- Octane Version: 1.2.0
- Laravel Version: 8.82.0
- PHP Version: 8.1.1
- Server & Version: Swoole
- Database Driver & Version: MySQL 8

### Description:

After migration to Laravel Octane, the dusk tests fails with 419 Page Expired. Before the migration, everything was fine...

### Steps To Reproduce:

I made the following change to the name file `docker/8.1/supervisord.conf`

[code]

[2022-02-05 10:02] sy-records commented on #476
see https://github.com/laravel/octane/issues/252#issuecomment-833528977

[2022-02-05 10:17] martio commented on #476
@sy-records I changed from

[code]

to

[code]

and no effect :(

[2022-02-05 10:18] martio commented on #476
The problem only occurs during dusk testing...

[2022-02-05 15:09] driesvints commented on #476
Hi there,

Thanks for reporting but it looks like this is a question which can be asked on a support channel. Please only use this issue tracker for reporting bugs with the library itself. If you have a question on how to use functionality provided by this repo you can try one of the following channels:

- [Laracasts Forums](https://laracasts.com/discuss)
- [Laravel.io Forums](https://laravel.io/f

[2022-02-05 15:09] #476 closed

[2022-02-06 15:09] josephxanderson commented on #110
@taylorotwell I feel that this should be re-opened, or maybe I should re-open another issue.

Swoole Websockets support should be natively integrated into Octane, considering that, as @goodevilgenius stated, ‘Swoole\WebSocket\Server’ extends ‘Swoole\Http\Server’. There should only be one Swoole server running, so instead of having that functionality split into another package, why not have that he

[2022-02-18 11:03] leitom commented on #322
Running: "sail build" gives me this error:

`#6 48.54 E: Unable to locate package php8.1-cli
#6 48.54 E: Couldn't find any package by glob 'php8.1-cli'
#6 48.54 E: Couldn't find any package by regex 'php8.1-cli'
#6 48.54 E: Unable to locate package php8.1-dev
#6 48.54 E: Couldn't find any package by glob 'php8.1-dev'
#6 48.54 E: Couldn't find any package by regex 'php8.1-dev'
#6 48.54 E: Unable to

[2022-02-20 17:09] Baiquette opened #479 "Roadrunner 2.8.0 requires version 2.7+ in .rr.yaml file"
- Octane Version: 1.2.2
- Laravel Version: 9.0.1
- PHP Version: 8.0.15
- Server & Version: RoadRunner 2.8.0

### Description:
Hello,

Since the publication of Roadrunner 2.8.0 the following error appears on the startup:
![image](https://user-images.githubusercontent.com/11754343/154854590-efc1640e-774a-4021-8097-193f69deb45b.png)

It seems to be because the default .rr.yaml file generated by Octan

[2022-02-20 19:45] bekee commented on #479
I've been faced with this issue for the past 5 hours.
Has anyone been able to solve this issue or a workaround

[2022-02-20 19:57] Baiquette commented on #479
@bekee Just create a .rr.yaml file to the root directory of your app with this content:
[code]

Then execute `php artisan octane:start`.

And the result should be:
[code]

[2022-02-20 20:00] bekee commented on #479
Thanks this worked

[2022-02-21 08:03] Ostojic-96 opened #481 "Memory leak when using Http facade"
- Octane Version: v1.2.1
- Laravel Version: v9.0.2
- PHP Version: 8.1
- Server & Version: Openswoole 4.9.1
- Sail version: v1.13.2

 When I'm using Http facade memory is going up with every request. My setup is made with Laravel Sail.
[code]
![http facade leak](https://user-images.githubusercontent.com/76952170/154912546-e5d17535-680e-479c-8135-16cbd43c5a70.png)

This is not the case with the Guzz

[2022-02-21 08:12] driesvints commented on #481
@Ostojic-96 can you link to the Laracasts and Stackoverflow threads?

[2022-02-21 08:15] Ostojic-96 commented on #481
Sure.
[Laracasts](https://laracasts.com/discuss/channels/laravel/laravel-octane-memory-leak-with-http-facade)
[Stackoverflow](https://stackoverflow.com/questions/71154405/memory-leak-when-using-http-facade-with-laravel-octane)

[2022-02-21 12:11] nunomaduro commented on #479
We are looking for a clean solution for this.

Meanwhile, as mentioned by @Baiquette, please add `version: "2.7"` to your `.rr.yaml` file.

[2022-02-21 15:45] nunomaduro commented on #481
I've tested this exact code with `wrk` and millions of requests, and there is no memory leak here. The fact that you see the memory increasing for a few requests just means that Octane didn't run the `gc_collect_cycles` yet.

[2022-02-21 15:45] #481 closed

[2022-02-21 17:27] #479 closed

[2022-02-22 11:41] alecpl opened #484 "How to reset route controllers state"
- Octane Version: 1.2.2
- Laravel Version: 9.1.0
- PHP Version: 8.0
- Server & Version: Swoole 4.8.5
- Database Driver & Version: mysql

### Description:

I do have private properties in route controllers, e.g.
[code]

It looks that the property is "shared" between requests under Octane. I have more controllers like this. How do I make sure the controller state is reset on every request? I've read

[2022-02-22 11:52] driesvints commented on #484
Hi there,

Thanks for reporting but it looks like this is a question which can be asked on a support channel. Please only use this issue tracker for reporting bugs with the library itself. If you have a question on how to use functionality provided by this repo you can try one of the following channels:

- [Laracasts Forums](https://laracasts.com/discuss)
- [Laravel.io Forums](https://laravel.io/f

[2022-02-22 11:52] #484 closed

[2022-02-23 14:43] cayolblake opened #485 "Using Octane::concurrently() results in %50 slower performance"
Hello,

Using the following code to execute two functions that each of them hits the database using different models for simple SELECT queries, this resulted in `380 req/s` on testing with `ab`.
[code]

While, before using `Octane::concurrently()` I was executing them sequentially in the same order and performance was `600 req/s`.

Any idea what might be going here? I have no special config or add

[2022-02-23 15:27] Namoshek commented on #485
Are you using Swoole or Roadrunner? And how long are these queries taking normally, if executed synchronously?

[2022-02-23 15:41] cayolblake commented on #485
Using Swoole, and everything is at latest versions.

These queries takes a negligible amount of time, a few microseconds.

I also checked `storage/logs/swoole_http.log` for errors and applied lots of changes to workers and task-workers numbers without any effect so I rolledback to no config at all.

What could be the issue! The only difference happens when I use `Octane::concurrently`.

[2022-02-23 18:15] Namoshek commented on #485
Creating the tasks and shipping them to a separate worker also takes some time, so it might be better to just sequentially perform queries if they return within milliseconds. If you have expensive queries on the other hand (like a multi-second query) or you need to perform multiple outgoing HTTP calls, executing them concurrently makes totally sense.

The overhead of using `Octane::concurrently()`

[2022-02-23 20:34] cayolblake commented on #485
That would render Swoole coruoutines only useful in terms of unreliable network calls or heavy/multi disk IO operations or some seconds-lengthy DB queries.

Could the reason be the task worker needs some warming up? Or loading some context in the thread/process it's working through? Not sure if it's using some shared memory technique to access required data ahead of work or it gets forked like goo

[2022-02-24 09:42] driesvints commented on #485
Hi there,

Thanks for reporting but it looks like this is a question which can be asked on a support channel. Please only use this issue tracker for reporting bugs with the library itself. If you have a question on how to use functionality provided by this repo you can try one of the following channels:

- [Laracasts Forums](https://laracasts.com/discuss)
- [Laravel.io Forums](https://laravel.io/f

[2022-02-24 09:42] #485 closed

[2022-02-28 23:52] cayolblake commented on #485
MySQL using mysqli, Linux.

[2022-02-28 23:53] cayolblake commented on #485
As per one of Swoole's maintainers, this is probably a closure performance issues in Octane's implementation so I guess it qualifies as an issue that needs reporting.

[2022-03-02 12:10] leitom opened #486 "Laravel sail with octane wont start."
- Octane Version: v1.2.3
- Laravel Version: v9.2.0
- PHP Version: 8.1.0
- Server & Version: Swoole / 4.8.5
- Database Driver & Version: mysql / 8

### Description:
Wont start octane with sail.

2022-03-02 11:56:27,915 INFO spawned: 'php' with pid 120

   INFO  Server running…

  Local: http://0.0.0.0:80

  Press Ctrl+C to stop the server

   INFO  Could not open input file: swoole-server

2022-03-

[2022-03-02 12:23] leitom commented on #486
Strange: a reboot of my machine fixed the issue.

[2022-03-02 12:23] #486 closed

[2022-03-03 04:12] peibinzhu opened #487 "octane:start --watch is not watching for modified files"
- Octane Version: 1.2.3
- Laravel Version: 9.2.0
- PHP Version: 8.0.15
- Server & Version: Swoole 4.8.6

### Description:

octane:start --watch does not monitor modified files, I see that there is already the same [problem](https://github.com/laravel/octane/issues/237#issuecomment-842306654), the solution is to add **`usePolling:true`** to the `vendor/laravel/octane/bin/file-watcher.js` file, afte

[2022-03-04 04:03] peibinzhu commented on #487
Sorry, maybe my description is not very clear, what I want to express is that I need to manually modify `vendor/laravel/octane/bin/file-watcher.js` This file, add `usePolling:true` in it to have an effect. But this involves modifying the source code, which I don't want to do.

[2022-03-05 02:31] gemini133 commented on #338
@kevincobain2000 Hi, any chance you work out the symlink re-resolve?

[2022-03-05 03:55] kevincobain2000 commented on #338
Hi @gemini133
For centos7
No it doesn’t. I tried with both road runner and swoole. I ended up using octane:stop and octane:start, and before doing that taking server of the load balancer. This is ok, it just adds around an extra minute per server to the deployer.

[2022-03-05 03:57] kevincobain2000 commented on #338
@gemini133
Extra note. I also tried with rsync strategy instead of symb link. While this one works fine with the octane:reload. But in this case when there is a change in the .env, the changes are not reflected.

[2022-03-07 01:55] chendaizhi opened #489 "Using queue job after commit under laravel octane does not work"
- Octane Version: 1.2.2
- Laravel Version: 8.83.1
- PHP Version: 8.0
- Server & Version: Swoole / RoadRunner Swoole 4.8.6
- Database Driver & Version: phpredis 5.3.2  redis 6.0.9
- laravel horizon: 5.9.1

### Description:
Using queue job after commit under laravel octane does not work

<img width="858" alt="image" src="https://user-images.githubusercontent.com/45749908/156954431-d763d106-cef8-4f54

[2022-03-07 08:42] driesvints commented on #489
Hey there,

Can you first please try one of the support channels below? If you can actually identify this as a bug, feel free to open up a new issue with a link to the original one and we'll gladly help you out.

- [Laracasts Forums](https://laracasts.com/discuss)
- [Laravel.io Forums](https://laravel.io/forum)
- [StackOverflow](https://stackoverflow.com/questions/tagged/laravel)
- [Discord](https

[2022-03-07 15:14] #487 closed

[2022-03-07 15:31] nunomaduro commented on #487
After the next release, you can use `--poll` option to watch files on non-standard environments.

[2022-03-08 02:10] peibinzhu commented on #487
Thanks.

[2022-03-08 20:42] ahmadeyamin opened #490 "Octane::route not working on artisan optimize"
- Octane Version: 1.2
- Laravel Version: 9.2
- PHP Version: 8.1.3
- Server & Version: Swoole 4.9.1

### Description:

Octane route not working after calling `php artisan optimize`
[code]

### Steps To Reproduce:

Set route
[code]

run `php artisan optimize`
run `php artisan octane:start`

hit `/url` route

I don't know is this a problem or features I just noticed this is not working in my applicat

[2022-03-09 03:58] marol1210 commented on #431
@driesvints
How  variable  `workerState`  work  in where  `request`  register  callback.   when `$workerState->work` is assign?

1. include WorkerState
[code]

2. $workerState is instance of WorkerState
[code]

[2022-03-10 09:30] pndx opened #491 "Can not stop octane"
- Octane Version: 1.2.3
- Laravel Version: 9.2.0
- PHP Version: 8.0.16
- Server & Version: Swoole 4.8.5
- Database Driver & Version: Mysql 5.7.34

### Description:
Can not stop octane
[code]

[2022-03-10 09:39] sy-records commented on #491
[code]

Check to see if you have exec disabled.

[2022-03-10 09:42] pndx commented on #491
@sy-records Thanks for reply. the exec is disabled. After enable it everything is fine.

[2022-03-10 09:42] #491 closed

[2022-03-13 09:51] krzysztofengineer opened #492 "Error during starting Octane in Sail"
- Octane Version: 1.2.4
- Laravel Version: 9.1.1
- PHP Version: 8.1.3
- Server & Version: RoadRunner 2.8.2

### Description:
Octane won't start in Laravel Sail environment. The problem occurs on Mac & Linux machines.

[code]

### Steps To Reproduce:

1. Create a new Laravel project with Sail
2. Install Octane according to the docs at https://laravel.com/docs/9.x/octane#roadrunner-via-laravel-sail

[2022-03-14 08:37] driesvints commented on #490
I don't think `Octane::route` is meant for public usage. Only for inner usage.

[2022-03-14 08:37] #490 closed

[2022-03-14 16:23] nunomaduro commented on #492
Did you downloaded the "rr" binary within your docker environment? If yes, can you type `rr --version` and tell me the result? I was not able to reproduce your issue.

[2022-03-16 11:15] andrew-belac commented on #280
I have the same wish.  We have 1000's of concurrent tasks.  So having queue:work/schedule:work is fine if it could be run using octane with a definied number of workers the same way octane:start works.

[2022-03-17 05:41] chendaizhi opened #493 "Queue afterCommit is not supported"
Queue afterCommit is not supported https://github.com/laravel/octane/issues/489

[2022-03-17 08:11] #493 closed

[2022-03-17 08:11] driesvints commented on #493
Please try a support channel first like I asked, thanks.

[2022-03-17 08:34] chendaizhi commented on #493
Hello, I've seen it all, and I've tested it many times, and laravel9 has also tested it, but it just doesn't support running queues without committing transactions @driesvints

[2022-03-17 08:41] chendaizhi commented on #493
Do you have time to test the problem? Thanks

[2022-03-17 08:55] driesvints commented on #489
Heya, thanks for reporting.

We'll need more info and/or code to debug this further. Can you please create a repository with the command below, commit the code that reproduces the issue as separate commits on the main/master branch and share the repository here? Please make sure that you have the [latest version of the Laravel installer](https://github.com/laravel/installer) in order to run this c

[2022-03-17 09:31] chendaizhi commented on #489
@driesvints https://github.com/chendaizhi/bug-report

[2022-03-17 09:33] chendaizhi commented on #489
/index

[2022-03-17 09:37] driesvints commented on #489
You committed everything into a single commit. Please follow the instructions closely.

[2022-03-17 09:56] chendaizhi commented on #489
https://github.com/chendaizhi/bug-report/blob/master/app/Http/Controllers/IndexController.php

[2022-03-17 10:05] chendaizhi commented on #489
I don't know how to deal with it. I have no experience. I'm sorry,

I wrote it in app/Http/Controllers/Indexcontroller.php In this,

Jobs is in app/Jobs/TestJob.php,

Table indatabase/migrations/2022_03_17_013612_create_test_table.php，

The driver of the queue is redis, and the command is php artisan queue: work redis -- queue = test -- sleep = 0

[2022-03-17 10:06] chendaizhi commented on #489
I don't know how to deal with it. I have no experience. I'm sorry,

I wrote it in app/Http/Controllers/Indexcontroller.php In this,

Jobs is in app/Jobs/TestJob.php,

Table indatabase/migrations/2022_03_17_013612_create_test_table.php，

The driver of the queue is redis, and the command is php artisan queue: work redis -- queue = test -- sleep = 0 @driesvints

[2022-03-17 10:14] #489 closed

[2022-03-17 22:46] chrisjohnstone commented on #492
I'm experiencing the same issue with fresh installation (macOS).

[code]

Running the above commands downloads the binary successfully within the container (v2.8.4).

[code]

From there, I've followed the instructions as per the documentation to update the `supervisord.conf`, make the `rr` binary executable (from outside the container) and rebuild the images.

Everything appears to proceed as expe

[2022-03-18 17:58] light-speak commented on #492
I'm experiencing the same issue with fresh installation (macOS),

[code]

[2022-03-19 15:50] rustatian commented on #492
The issue clearly says: `proto file 'first.proto' does not exist`. There are 2 reasons for this issue:
1. You used a `.rr.yaml` configuration with the `grpc` plugin activated but didn't provide a path to the proto files ---> solution: inspect the folder where RR was installed and delete the `.rr.yaml`.
2. You used a `grpc` plugin with purpose. Then you should provide a path to the proto file (`fir

[2022-03-19 20:23] foremtehan opened #495 "Octane::concurrently Leaking Open Database Connections"
- Octane Version: v1.2.4
- Laravel Version: 9
- PHP Version: 8.1.2
- Server & Version: Swoole
- Database Driver & Version: PostgreSQL

### Description:
When using `Octane::concurrently` for database query, I noticed octane opens new connections on every requests and wont close it,

So if there are 1000 request comes in we have 1000 open connection until database/server restart

### Steps To Reprod

[2022-03-21 08:03] driesvints commented on #495
That's intended as the concurrently function opens new processes for each call. Therefor new database connections will be started.

[2022-03-21 08:03] #495 closed

[2022-03-21 08:34] foremtehan commented on #495
Can you tell how to close connection in laravel? Because when i do `pg_close()` is says:

No PostgreSQL connection opened yet

[2022-03-21 15:45] mtawil opened #496 "Laravel Octane does not reset static property values"
- Octane Version: 1.2.4
- Laravel Version: 9.5.1
- PHP Version: 8.1.2
- Server & Version: Swoole 4.10.0

### Description:
Somehow Laravel Octane doesn't reset static property values between requests, and it's delivering that last value instead of that.

### Steps To Reproduce:
1. Put this snippet to your route:
[code]

2. Hit `/test-1`, and the result is `bar`.
3. Hit `/test-2`, the request that i

[2022-03-21 15:57] driesvints commented on #496
Octane is a long running process so this is expected. You're responsible for clearing these between requests.

[2022-03-21 15:57] #496 closed

[2022-03-22 20:57] RedChops opened #497 "Enabling coroutines and Swoole Hooks leads to a broken container sometimes"
- Octane Version: 1.2.4
- Laravel Version: 9.5.1
- PHP Version: 8.1.3
- Server & Version: Swoole  4.10.0
- Database Driver & Version: N/A to this bug

### Description:

It seems like just the act of enabling coroutines and the Swoole file command hooks leads to a situation where issuing a number of concurrent requests (see steps below for command I like to use), the possibly last request will some

[2022-03-22 21:38] RedChops commented on #497
My mistake, it seems like the hook that causes the breakage is SWOOLE_HOOK_STDIO. After significant different testing with different bitwise groups of hook flags, it would seem like the following is enough to work around the bug:
`'hook_flags' => SWOOLE_HOOK_ALL ^ SWOOLE_HOOK_STDIO,`

It's interesting, SWOOLE_HOOK_FILE must contain parts of SWOOLE_HOOK_STDIO, as with STDIO disabled, I don't need t

[2022-03-23 12:16] driesvints commented on #497
Coroutines are not supported by Octane atm.

[2022-03-23 12:16] #497 closed

[2022-03-24 14:43] Namoshek opened #498 "Deprecation warning in SwooleClient when Octane tries to set the SameSite Cookie"
- Octane Version: 1.2.4
- Laravel Version: 8.83.5
- PHP Version: 8.1.4
- Server & Version: `ext-swoole:4.8.8`
- Database Driver & Version: `pdo_sqlsrv:5.10.0`

### Description:
During normal execution of (as far as I can see) every request, I find the following warning twice in my logs (using Telescope):
[code]
(Log level is `warning`)

### Steps To Reproduce:
- Run Laravel Octane
- Request any pa

[2022-03-28 14:09] driesvints commented on #498
This is a deprecation so nothing is really broken here. We'd welcome a PR to solve this. Thanks.

[2022-03-28 14:09] #498 closed

[2022-03-30 15:37] coleshirley opened #500 "Update resetScope to forgetScopedInstances in Listeners/FlushTemporaryContainerInstances"
- Octane Version: ^1.0.5
- Laravel Version: ^8.47.0
- PHP Version: 8.0
- Server & Version: Swoole / RoadRunner Any
- Database Driver & Version: Any

### Description:
In this commit: https://github.com/laravel/framework/commit/2971b64ac29bec9e65afe683ab4fcd461c565fe5 the `resetScope()` method on the container class was changed to `forgetScopedInstances()` but this change was never reflected in Octa

[2022-03-31 08:01] driesvints commented on #500
Thanks for noting this. I sent in a PR: https://github.com/laravel/octane/pull/501

[2022-03-31 08:01] #500 closed

[2022-03-31 12:19] rhwilr commented on #368
@zarulizham Did you find a solution to this problem? I'm facing the exact same issue when uploading a file to the server that is then stored on S3.
Every time I refresh the page after uploading the file, it creates another copy of the file.

[2022-04-02 02:25] jmvcollaborator commented on #94
Guys after digging further in the vendor files, I did check the value of
$this->path in my case /var/www/{MYLARAVELPROJECT}/storage/logs
and i realized that the directory logs was not writable for "others" drwxrwxr**-**x
just change others to have w (write permissions) drwxrwxr**w**x

Issue solved !!!

[2022-04-08 10:34] jobsssss commented on #256
Can you explain why coroutines are not supported? If you don't support coroutines, it doesn't make much sense to use Octane, or is it convenient to tell you what the difficulties are in supporting coroutines? Or when do you plan to start supporting coroutines?

[2022-04-08 10:40] jobsssss opened #503 "Looking forward to supporting coroutines"
There are already many php frameworks that support coroutines, such as hyperf, swoft, etc.

However, these frameworks are obviously inferior to laravel in terms of ecological richness and community appeal. If laravel can support coroutines, it can obviously promote the construction of the entire coroutine ecology

[2022-04-08 10:44] driesvints commented on #503
Heya. We are considering this but unfortunately cannot give a time window for it. Thanks for your request.

[2022-04-08 10:44] #503 closed

[2022-04-08 11:13] zek commented on #280
In my use case, I'm sending push notifications (APN) to users. Sending each notification requires TCP handshake with Apple servers first. If I can just use same Client, I can send notifications faster and it'll use less memory.
Octane support would be perfect for processing same kind of tasks.

[2022-04-09 04:38] zarulizham commented on #368
Hi, not yet. I ended up stop using octane and back to PHP-FPM.

[2022-04-10 17:29] Baiquette opened #504 "The "max_execution_time" setting has no effect with Roadrunner"
- Octane Version: 1.2.6
- Laravel Version: 9.7.0
- PHP Version: 8.0.17
- Server & Version:  RoadRunner 2.9.0

### Description

Hello,

I just created a new Laravel application by adding Octane and running it with Roadrunner.
I tried to set the `max_execution_time` settings in the Octane configuration file, but it seems this setting has no effect.

### Steps To Reproduce:
I followed the normal proc

[2022-04-11 03:04] zek commented on #350
I'm also having same issue when I'm uploading binary files.
This little bug prevents me to use octane :(

[2022-04-11 04:56] juanfelipepipen opened #505 "Octane closes due to type error"
- Octane Version: 1.2.6
- Laravel Version: 9.7.0
- PHP Version: 8.1.4
- Server & Version: Swoole

### Description:
After some time, approx 5 minutes after starting octane, a type error appears, I attach a screenshot

![Screenshot from 2022-04-10 21-51-48](https://user-images.githubusercontent.com/33106375/162667542-2db999e2-733c-40be-8d22-676b76e9233f.png)

[2022-04-11 05:24] sy-records commented on #505
You can start by checking if the `/storage/logs/octane-server-state.json` file exists and is readable, and if the `masterProcessId` exists.

[2022-04-11 07:01] driesvints commented on #505
Looks like a fix was sent in. Thanks

[2022-04-11 07:01] #505 closed

[2022-04-11 07:28] driesvints commented on #504
Hmm, no I don't actually.. @tarampampam do you might have an idea here?

[2022-04-11 07:29] driesvints commented on #504
@Baiquette can you also verify that `$this->maxExecutionTime()` is actually returning `3`?

[2022-04-11 07:31] driesvints commented on #504
I do see it uses `s` in the example here: https://github.com/roadrunner-server/roadrunner/blob/master/.rr.yaml#L273-L276

Can you try to set it to `'max_execution_time' => '3s',`?

[2022-04-11 07:32] Baiquette commented on #504
@driesvints It seems yes:

[code]

![image](https://user-images.githubusercontent.com/11754343/162686797-72389153-248a-4bfa-a28b-380bdedfdeaf.png)

[2022-04-11 07:33] Baiquette commented on #504
It seems the method `maxExecutionTime` already adds the "s":
![image](https://user-images.githubusercontent.com/11754343/162686971-1d39418e-578f-49f1-a387-07dacaa97628.png)

[2022-04-11 07:33] driesvints commented on #504
Okay then I'm out of ideas 😅

[2022-04-11 07:33] tarampampam commented on #504
@driesvints I suppose that @rustatian will be more relevant for your question 😄

[2022-04-11 07:37] driesvints commented on #504
@tarampampam ah thanks for forwarding! 🙂

[2022-04-11 07:55] rustatian commented on #504
Hey 👋🏻 There is no such option in the RR 😃
RR has the `exec_ttl` option -> for example `http.pool.exec_ttl = 10s`.

[2022-04-11 08:00] driesvints commented on #504
Hey @rustatian, I think you mistook the Laravel Octane config option name from what we pass to RR? See:
 https://github.com/laravel/octane/blob/a6ac540eaa7524042af1355a5cf4e40b3445d60c/src/Commands/StartRoadRunnerCommand.php#L86

[2022-04-11 08:05] rustatian commented on #504
I'm not a PHP dev :) But yeah, it seems that you mentioned that above. Give me a sec; I'll double-check that.

[2022-04-11 08:17] Baiquette commented on #504
@driesvints : Just to be sure it is not an issue due to my PHP config, I manually updated my "php.ini" file by setting:
[code]

[2022-04-11 08:19] rustatian commented on #504
I can confirm that this is a RR problem. I found the issue and will release the `v2.9.1` today. Thanks.

[2022-04-11 08:20] driesvints commented on #504
Thanks @rustatian!

[2022-04-11 08:20] #504 closed

[2022-04-11 10:35] driesvints commented on #504
Cool, thanks @rustatian!

[2022-04-12 16:05] caiokawasaki opened #508 "How can I tell if my instance is using Octane?"
Some of my application's services are consumed through the API over Octane and through the queues/jobs.

In some of these services I would like to use the `Octane::concurrently()` method if it is in the API and use the "normal" method if it is in the queue/job, is this possible?

Sample:

[code]

[2022-04-12 16:22] smortexa commented on #508
You can define these helper functions:
[code]

[2022-04-12 17:12] Namoshek commented on #508
Have you tried simply using `Octane::concurrently(..)` without any prior checks? I'm not sure, but from the code behind that method, I would assume it falls back to the `SequentialTaskDispatcher` (which executes sequentially in-process):

https://github.com/laravel/octane/blob/85dcacf054bfe9b813b3b9fdbdb1cdd50f5f3bcd/src/Concerns/ProvidesConcurrencySupport.php#L36-L48

[2022-04-13 09:01] driesvints commented on #508
Hi there,

Thanks for reporting but it looks like this is a question which can be asked on a support channel. Please only use this issue tracker for reporting bugs with the library itself. If you have a question on how to use functionality provided by this repo you can try one of the following channels:

- [Laracasts Forums](https://laracasts.com/discuss)
- [Laravel.io Forums](https://laravel.io/f

[2022-04-13 09:01] #508 closed

[2022-04-18 07:04] smortexa commented on #470
@sy-records The Swoole maintainer [solution](https://github.com/swoole/swoole-src/issues/4594#issuecomment-1099119681) also doesn't work. The following error will be thrown:
[code]

[2022-04-26 14:38] williamxsp commented on #328
@HDVinnie
Ive created a Listener class to define, if not defined, LARAVEL_START

[code]

Then at config/octane.php

and inside listeners, I added this class

[code]

[2022-04-26 18:15] wecraft commented on #368
Hi,
The issue is closed, but the solution below might be helpful for those, who are still having the issue.
So, by default laravel octane doesn't flush the uploaded files (and their cache), once the request is terminated. The simple solution is to uncomment the related listener in the config **_config/octane.php_**

`RequestTerminated::class => [
       FlushUploadedFiles::class,
],`

[2022-04-27 18:11] junaid-A-khan commented on #484
Hi everyone,
I have been working on a project for more than 8 months and have been using the same practice in a repository which serves a lot of APIs. No issues so until today.

Suddenly today dated: 2022-04-27 UTC, I am also experiencing this issue, but only on my local machine. Other envs dev, qa, sandbox and prod are fine and not showing this behaviour.

Below is a little snippet for the reposi

[2022-04-29 22:55] Spartaques opened #511 "Non blocking io implementation"
Hello guys. I have a big project with laravel and i’a using octane with swoole. And i have expirience with nodejs python golang and writing code asynchronous using all this shit. For me, octane is good but it is not asynchronous. It’s based on async solution, but code working synchronously. But i want to use non blocking io in my programs so my program will be more performant. There are many reaso

[2022-04-29 23:44] sy-records commented on #511
Duplicate of #503.

[2022-04-30 07:33] #511 closed

[2022-04-30 07:33] driesvints commented on #511
Please indeed see previous issues. Thanks @sy-records

[2022-05-01 14:10] robberphex opened #512 "shutdown callback"
I'm using octane as PHP application server, and register to nacos/consul, within `boot` method of one of application's service providers(<https://laravel.com/docs/8.x/octane#ticks-and-intervals>), start a registry-ticker.

But unfortunately, when octan is shutting down, there is no chance to deregister the instance to nacos/consul.

Could we add a mechanism to let registry-ticker know when to dere

[2022-05-01 14:12] robberphex commented on #512
There could be `unboot` method of service provider.

When octane is shutting down, call `unboot` method firstly.

[2022-05-02 07:49] driesvints commented on #512
Hey @robberphex, thanks for your feature request. We consider this to be a responsibility of user land and not Octane to deregister any services you register yourself.

If you feel there could be a better mechanism in Octane itself you could always attempt a PR, thanks.

[2022-05-02 07:49] #512 closed

[2022-05-10 07:41] L3o-pold opened #517 "Observers afterCommit attribute is ignored"
- Octane Version: 1.2.8
- Laravel Version: 9.11.0
- PHP Version: 8.1.1
- Server & Version: RoadRunner 2.9.4 but also reproduced with Swoole
- Database Driver & Version: mysql/mysql-server:8.0

### Description:

Observers `afterCommit` attribute is ignored if set to true.

### Steps To Reproduce:

Using https://github.com/L3o-pold/bug-report

[code]

Then go to http://127.0.0.1:8000

In the `storag

[2022-05-10 18:53] Namoshek commented on #517
After some debugging, I found a solution to the issue: adding `db.transactions` to the `warm` array in `config/octane.php`:
[code]

The reason seems to be that the `User::$dispatcher` has its own `$container` which resolves a different `db.transactions` than `app()->make('db.transactions')`. While `app()->make('db.transactions')` has a transaction level > 0, the one resolved by the dispatcher does

[2022-05-11 10:43] farmani opened #518 "Paginator doesn't work after a while"
- Octane Version: 1.2.9
- Laravel Version: 9.12.1
- PHP Version: 8.1.5
- Server & Version: Swoole
- Database Driver & Version:

### Description:

it seems an old version of app/request will feed into `PaginationState::resolveUsing($app);` I can see these everywhere
https://github.com/laravel/octane/blob/722b7567e2817b3f5e4a4ae7b49290f53968a114/src/Listeners/GiveNewRequestInstanceToPaginator.php

b

[2022-05-12 08:55] driesvints commented on #517
Thanks @Namoshek, I've pinged @taylorotwell to have a look at this.

[2022-05-12 14:14] #517 closed

[2022-05-12 14:15] taylorotwell commented on #518
I think I just thought it may not have been necessary. I vaguely remember going back and forth on this and I ultimately determined this call wasn't needed but maybe I left it commented because I wasn't quite sure if it was or not. Regardless, I don't think it *hurts* anything to uncomment it.

[2022-05-12 14:16] taylorotwell commented on #518
If you want to submit a PR uncommenting it we can give it as hot.

[2022-05-13 00:37] kingIZZZY2 commented on #110
My solution so far (from a 2nd github account) based on @forestlovewood's initial work: https://github.com/kingIZZZY2/octane/commit/33c90bb178552e70f8f49aa58c0c62f677b2fe0b

No guarantees that I will keep maintaining this fork/branch. You're welcome to clone/fork/maintain your own.

You'll need to tweak your `composer.json` to use the forked repo & branch instead of the laravel/octane source. Mine

[2022-05-17 19:47] Spittal commented on #190
Hey just wanna chime in here that we have independently confirmed that this is the case with Swoole. That max execution time will be hit, and it will send the swoole worker a signal 9 killing the worker, and your HTTP request will hang indefinitely.

The current work-around we have is to set our proxy HTTP server to the same timeout as our max execution time.

[2022-05-18 09:41] touloumtzidis opened #522 "Artisan octane:reload command is functional but throws exception"
- Octane Version: 1.2.10
- Laravel Version: 9.13.0
- OS: Ubuntu 20.04.1 aarch64
- Platform: Laravel Forge
- PHP Version: 8.1.5
- Server & Version: RoadRunner 2.9.4
- Database Driver & Version: MySQL 8.0.29

### Description:
When running php artisan octane:reload, the workers do reload as expected but the command throws a RuntimeException.

![2022-05-18 at 12 37 06@2x](https://user-images.githubuse

[2022-05-18 11:03] msonowal commented on #471
I think in case of sail this is reproduceable

[2022-05-19 19:14] daalvand opened #523 "I encountered a SwooleExtension error"
- Octane Version: v1.2.10
- Laravel Version: v9.13.0
- PHP Version: 8.1.5
- Server & Version: Swoole4.8.9
- Database Driver & Version:

### Description:
I wanted to run the `php artisan octane:start` command, but I got the `Swoole\Process::kill(): kill(35, 0) failed, Error: Operation not permitted[1]` error.
And I checked process 35, it's `kdevtmpfs` process.
What should I do?

[2022-05-20 06:38] ResuBaka opened #524 "RoadRunner crashes with --watch, starting with version 2.9.3"
- Octane Version: 1.2.10
- Laravel Version: v8.83.13
- PHP Version: 8.1.6
- Server & Version: RoadRunner 2.9.4
- Database Driver & Version:

### Description:

When using file watch the artisan octane:start process crashes. As the RoadRunner cli writes infos to the stderr.

[code]

### Steps To Reproduce:

1. Install RoadRunner 2.9.4
2. start octane server with --watch
3. Change a file so the serve

[2022-05-20 07:41] driesvints commented on #523
Hi there,

Thanks for reporting but it looks like this is a question which can be asked on a support channel. Please only use this issue tracker for reporting bugs with the library itself. If you have a question on how to use functionality provided by this repo you can try one of the following channels:

- [Laracasts Forums](https://laracasts.com/discuss)
- [Laravel.io Forums](https://laravel.io/f

[2022-05-20 07:41] #523 closed

[2022-05-20 07:46] driesvints commented on #524
I indeed get the same thing when using the latest versions.

[2022-05-20 07:55] driesvints commented on #524
@rustatian do you might have any ideas here?

[2022-05-20 08:01] rustatian commented on #524
Hey, @driesvints 👋🏻. We changed some output messages starting from the `v2.9.4`, especially `rr reset` message. You may use `--silent` with `rr reset` like `./rr reset --silent` to avoid any output.

[2022-05-20 08:03] rustatian commented on #524
Also, `--silent` flag might be used with a `serve`, like `./rr serve [options] --silent` to hide a startup message `[INFO] RoadRunner ...`

[2022-05-20 08:08] driesvints commented on #524
Okay but won't that also hide actual errors?

[2022-05-20 08:08] driesvints commented on #524
I mean, isn't the issue here that roadrunner cannot reload?

[2022-05-20 08:19] rustatian commented on #524
`./rr reset` might show only dial errors. If some error occurs, it'll be in the `./rr serve` logs, but not in the `./rr reset` output.

It's hard to say because there are no errors/logs from the RR. I double-checked that without `octane` and everything works ok. I can also guess, that if an error occurred only on versions >= 2.9.4, the only thing that was changed in these versions is `./rr reset`

[2022-05-20 08:26] rustatian commented on #524
Also, remember that RR writes all informational messages to the `stderr`.
I'm not sure, what does this mean:
[code]
I can only guess (since I'm not a PHP dev), that this is some `stderr` check for the data in it.

[2022-05-20 08:28] ResuBaka commented on #524
The issue is that the Symfony  Process handles in pipes stderr output as an error and calls the callback. Which then has the $type as error.

So --silent option would fix it as I would thing `rr reset` would return an error code to the console when it fails?

[2022-05-20 08:33] driesvints commented on #524
Okay cool. Can anyone send in a PR for that. Thanks for your help!

[2022-05-20 08:35] ResuBaka commented on #524
Should we check the version to add the `--silent` option or just add it always for the `reset`?

As I would then create a PR for it.

[2022-05-20 08:35] rustatian commented on #524
Or, I don't know if that's ok, you may filter these messages from the stderr. I mean, `resetting plugin: [http]` and `plugin reset: [http]`. Those messages are stable and won't be changed in the `v2`. If you still wanted to check the stderr.

[2022-05-20 08:41] rustatian commented on #524
You may add it as the default. Previous versions will ignore this flag w/o any additional output.

[2022-05-20 08:51] ResuBaka commented on #524
Filtering for the messages in octane does not work as we only get the first message every as a callback and never the second.

So I will implement the `--silent` option.

[2022-05-20 08:56] ResuBaka commented on #524
Filtering for the messages in octane does not work as we only get the first message every as a callback and never the second.

So I will implement the `--silent` option.

[2022-05-20 13:34] #524 closed

[2022-05-21 06:47] ben74 opened #526 "composer require laravel/octane -> no artisan found on the root"
- Octane Version: 1.2.10
- Laravel Version: 9.13.0
- PHP Version: 8.1.3
- Server & Version: Swoole
- Database Driver & Version:

### Description:
MIssing artisan in order to perform php artisan install

### Steps To Reproduce:
composer require laravel/octane

Using version ^1.2 for laravel/octane
./composer.json has been updated
Running composer update laravel/octane
Loading composer repositories

[2022-05-21 22:19] james-wong123 opened #527 "Octane couuld not start properly with sail setup."
- Octane Version: 1.2.10
- Laravel Version: 9.13.0
- PHP Version: 8.16
- Server & Version: Swoole / RoadRunner swoole
- Database Driver & Version: Mysql

### Description:

I am using `docker` and `sail` for my dev environment, I have tried to integrate `laravel/octane` recently but it does not seem to be working properly.

After running `sail up -d`, `localhost:8000` does not respond any data

![i

[2022-05-21 22:45] bumbummen99 commented on #527
You opened localhost:80 in your browser, you need to open localhost:8000 if you bind octane to port 8000

[2022-05-22 05:19] peibinzhu opened #528 "Request own interface timed out."
- Octane Version: 1.2.10
- Laravel Version: 9.13.0
- PHP Version: 8.0.15
- Server & Version: Swoole v4.8.6

### Description:

We are going to use microservices to request in the project. After the client initiates the request, the server requests the interface of the same project through the local area network http, but it is incredible to find that the request has timed out.

I used the tool to t

[2022-05-22 05:57] driesvints commented on #527
Hi there,

Thanks for reporting but it looks like this is a question which can be asked on a support channel. Please only use this issue tracker for reporting bugs with the library itself. If you have a question on how to use functionality provided by this repo you can try one of the following channels:

- [Laracasts Forums](https://laracasts.com/discuss)
- [Laravel.io Forums](https://laravel.io/f

[2022-05-22 05:57] #527 closed

[2022-05-22 05:57] driesvints commented on #528
Hi there,

Thanks for reporting but it looks like this is a question which can be asked on a support channel. Please only use this issue tracker for reporting bugs with the library itself. If you have a question on how to use functionality provided by this repo you can try one of the following channels:

- [Laracasts Forums](https://laracasts.com/discuss)
- [Laravel.io Forums](https://laravel.io/f

[2022-05-22 05:57] #528 closed

[2022-05-22 05:58] driesvints commented on #526
Hi there,

Thanks for reporting but it looks like this is a question which can be asked on a support channel. Please only use this issue tracker for reporting bugs with the library itself. If you have a question on how to use functionality provided by this repo you can try one of the following channels:

- [Laracasts Forums](https://laracasts.com/discuss)
- [Laravel.io Forums](https://laravel.io/f

[2022-05-22 05:58] #526 closed

[2022-05-22 06:02] james-wong123 commented on #527
@bumbummen99, the problem now is that i can open it on `localhost`, but can't open it at `localhost:8000`, and `after sail up -d`  octane is not running.

![image](https://user-images.githubusercontent.com/87692325/169681194-f046800b-6e82-4013-947e-bea053493ebc.png)

![image](https://user-images.githubusercontent.com/87692325/169681181-24acec78-23f2-43b5-9fed-fd5acb9f942a.png)

[2022-05-22 08:46] bumbummen99 commented on #527
Did you rebuild the sail image before you started the Containers? `sail build` should do it maybe add `--no-cache` to completely rebuild.

[2022-05-22 08:48] james-wong123 commented on #527
@bumbummen99, i have built it with no cache many times

[2022-05-22 08:51] bumbummen99 commented on #527
Your supervisord config does not contain any `php artisan serve` on port 80 so that is strange. Can you Bash into the container and check all configs from inside? Espicially Supervisor since I suspect it is not updated still serving on 80. `sail root-shell`

[2022-05-22 10:11] james-wong123 commented on #527
@bumbummen99, after running `sail root-shell`

![image](https://user-images.githubusercontent.com/87692325/169690361-9be42cbd-b005-43ac-b8ff-a68b2c282928.png)

[2022-05-22 10:16] james-wong123 commented on #527
@bumbummen99, I have done a few changes, but the result is the same, `localhost` is serving but octane is not running. Not sure what I am doing wrong here, I followed the docs exactly, except just change the working dir in `supervisor.conf`

**`supervisor.conf`**
[code]

**`docker-compose.yml`**

[code]

[2022-05-22 10:55] james-wong123 commented on #527
@bumbummen99, was it the dir path issue?

[2022-05-22 11:38] bumbummen99 commented on #527
@james-wong123 Why are you changing the path to `artisan` in the supervisord config in the image? This path is INSIDE your image, not on the host, check the [`volumes`](https://docs.docker.com/compose/compose-file/compose-file-v3/#volumes) section of your docker-compose.yml in your `laravel.test` service.

[2022-05-22 11:49] james-wong123 commented on #527
@bumbummen99, I am so sry as I am new to laravel sail and docker. what should I do instead ?

[2022-05-22 11:56] bumbummen99 commented on #527
No need to be sorry. As i said, the path you changed in the supervisord is inside your container. Your local Laravel is being mounted in your docker-compose
[code]
So inside your container `artisan` is under `/var/www/html/artisan`.

But that does not explain why you can access your page at all since it should just not work with that configuration.

[2022-05-22 17:06] ben74 commented on #526
for reference it's needed first to install laravel before octane in order to have artisan .. ( as it isn't specified in any manueal )

composer create-project laravel/laravel octane
cd octane && composer require laravel/octane

[2022-05-23 11:55] touloumtzidis commented on #522
#525 fixes the issue.

[2022-05-24 05:21] bernardwiesner commented on #503
Just curious if there is any development on this, it would be a really nice feature to have.

[2022-05-24 06:46] madalinignisca commented on #338
You can't reload a process that started in a directory pointing an inode (that is what the symlink id). Full process must stop and start again from the new directory.

PHP-FPM reloads feature works for sure, as php-fpm is a separate process. Identical is for Apache with mod_php on reload.

To have same behaviour, Octane must be a separate process outside the Laravel App, that would start the core

[2022-05-24 12:30] bernardwiesner commented on #280
This would be a nice addition. Using symphony process is not the same since you need to bootstrap the whole framework in every process if you want to use all of laravel features which defeats the purpose of speed and performance.

Using octane and a queue worker you could concurrently process jobs using all features of the framework without needing a cache layer while maintaining high performance.

[2022-05-24 12:52] sikhlana commented on #280
@bernardwiesner from my understanding, swoole itself forks child processes under the hood, so basically the same as creating separate processes; roadrunner creates separate PHP processes that is handled by the main `go` process.

And again, managing queues and scheduler is out of the scope of what Laravel Octane is meant for. Maybe create an issue in the main repo to add support for swoole for que

[2022-05-26 16:03] PHPGuus opened #530 "Cannot reload Laravel Octane"
- Octane Version: 1.2.10
- Laravel Version: 9.13.0
- PHP Version: 8.0.17
- Server & Version: RoadRunner 2.10.2

### Description:
`php8.0 artisan octane:reload` fails with the following output:
[code]

I believe this is due to the fact this version of RoadRunner is now outputting two lines, and somehow the Symfony process is sending a `Process::ERR` type instead of waiting for further output.

When

[2022-05-27 06:20] ToogleLiu opened #531 "The environment file is .env.local when octane started, why is not .env?"
- Octane Version: 1.2.9
- Laravel Version: 8.83.12
- PHP Version: 8.1.6
- Server & Version: Swoole 4.8.9
- Database Driver & Version: MySQL 8.0.26

### Description:

In my project directory, it has two environment files: *.env* and *.env.local*. The APP_ENV is *local* in env file:

`APP_ENV=local`

When I run:

`/usr/local/bin/php /var/www/laravel/artisan octane:start --host=0.0.0.0 --port=8080`

[2022-05-27 12:19] nunomaduro commented on #530
Thank you for the detailed issue, Guuske.

Please update to the latest version of Octane: v1.2.11.

The issue was fixed here: https://github.com/laravel/octane/pull/525.

[2022-05-27 12:19] #530 closed

[2022-05-29 17:46] Spartaques commented on #503
It's the case why all other developers think that php is not serious). For me, it's #1 priority task for laravel team to implement.

[2022-05-31 14:46] ariaieboy opened #535 "php entered FATAL state, too many start retries too quickly when using --watch"
- Octane Version: 1.2.11
- Laravel Version: 9.14.1
- PHP Version: 8.1
- Server & Version: Swoole / RoadRunner swoole 4.8.5
- Database Driver & Version: -

### Description:
i am using phpstorm for development using the autosaving . when i am typing the code phpstorm autosaving the code each 1 sec and since  i use --watch it detect the change and reset the swoole to take the new code. and when the c

[2022-06-01 09:58] JasonSanYe opened #536 "$_SERVER Can't get it header and client ip"
- Octane Version: 1.2.12
- Laravel Version: 9.15.0
- PHP Version: 8.1.5
- Server & Version: Swoole / RoadRunner Swoole 4
- Database Driver & Version:

### Description:

$_SERVER

Why can't you get the client ip

var_dump($_SERVER)  Can't get it header

May I ask how to handle it?

[2022-06-01 10:03] JasonSanYe commented on #536
nginx

    location @octane {
        set $suffix "";

        if ($uri = /index.php) {
            set $suffix ?$query_string;
        }

        proxy_http_version 1.1;
        proxy_set_header Host $http_host;
        proxy_set_header Scheme $scheme;
        proxy_set_header SERVER_PORT $server_port;
        proxy_set_header REMOTE_ADDR $remote_addr;
        proxy_set_header X-Forwarded-For $pr

[2022-06-01 10:04] driesvints commented on #536
Hi there,

Thanks for reporting but it looks like this is a question which can be asked on a support channel. Please only use this issue tracker for reporting bugs with the library itself. If you have a question on how to use functionality provided by this repo you can try one of the following channels:

- [Laracasts Forums](https://laracasts.com/discuss)
- [Laravel.io Forums](https://laravel.io/f

[2022-06-01 10:04] #536 closed

[2022-06-08 12:50] L3o-pold opened #538 "Monitor / Inspect Octane route in Telescope"
Octane route as `/octane/resolve-tasks` or `/octane/dispatch-tasks` do not appear in Telescope (Requests tab).

It could be a nice addition for debugging or monitoring purpose to have them in the Telescope Dashboard with the `RequestWatcher`.

[2022-06-08 12:52] driesvints commented on #538
Heya. Right now we don't have plans for this but you're always free to see if a PR would be accepted by Taylor. Thanks.

[2022-06-08 12:52] #538 closed

[2022-06-08 14:58] anabeto93 opened #539 "Octane cache driver not supported."
- Octane Version: 1.2.12
- Laravel Version: 9.17.0
- PHP Version: 8.1.6
- Server & Version: Swoole  & 4.8.6
- Database Driver & Version: mysql 5.7

### Description:
I have already created a question on stackoverflow for this, hoping someone might be able to help. [https://stackoverflow.com/questions/72547132/laravel-octane-cache-driver-not-supported](https://stackoverflow.com/questions/72547132/la

[2022-06-09 08:11] nunomaduro commented on #535
Hi @ariaieboy, I am afraid this is a current limitation of the `--watch` function when combined with modifications of files that make it impossible booting a new server - via parse errors for example.

At this time, we don't have a clean solution for this, but of course, you are free to explore a solution, and pull request it.

[2022-06-09 08:11] #535 closed

[2022-06-09 08:21] #539 closed

[2022-06-09 09:00] hasan689009 commented on #369
any update about this issue

[2022-06-10 00:12] dvlpr91 opened #540 "When calling a service defined as a facade in a Job implemented as ShouldQueue"
- Octane Version: 1.2.12
- Laravel Version: 9.9.0
- PHP Version: 8.1.6
- Server & Version: Swoole 4.8.5

### Description:

When calling a service defined as a facade in a Job implemented as ShouldQueue, an incorrect result is displayed.

### Steps To Reproduce:

**CMD**

Job::dispatch(Model::find(5));
Job::dispatch(Model::find(10));
Job::dispatch(Model::find(5));
Job::dispatch(Model::find(10));
Jo

[2022-06-10 06:27] driesvints commented on #540
Hi there,

Thanks for reporting but it looks like this is a question which can be asked on a support channel. Please only use this issue tracker for reporting bugs with the library itself. If you have a question on how to use functionality provided by this repo you can try one of the following channels:

- [Laracasts Forums](https://laracasts.com/discuss)
- [Laravel.io Forums](https://laravel.io/f

[2022-06-10 06:27] #540 closed

[2022-06-14 20:54] exodusanto opened #542 "beforeResolving compatible with Octane"
- Octane Version: 1.2.12
- Laravel Version: 9.17.0
- PHP Version: 8.0.17
- Server & Version: Swoole / RoadRunner 4.8.8
- Database Driver & Version: Mysql 8.0.28

### Description:
With `lorisleiva/laravel-actions`, Actions registered in `EventServiceProvider` using [asListener](https://laravelactions.com/2.x/as-listener.html#aslistener) works on Laravel but vice versa in Octane will throws an error

[2022-06-20 07:52] jangaraev opened #543 "Cannot reload RoadRunner: unknown shorthand flag: 's' in -s"
- Octane Version: 1.2.12
- Laravel Version: 8.83.16
- PHP Version: 8.0.8
- Server & Version: Swoole / RoadRunner 2.10.4 (rr) (cli is 2.2.0)
- Database Driver & Version: mysql 8.0

### Description:

There is an error after updating dependencies.

`php artisan octane:reload` fails with the following output:

[code]

we see on line 54 that it passes the `-s` option to the RR binary. but it's unclear

[2022-06-20 14:17] LauJosefsen opened #544 "Log objects are prepended `INFO` by default"
Hi.

We are using an ELK stack to gather all our logs, and for that reason we have a custom logger that logs JSON-encoded objects.

However when switching from php-fpm to Octane, we found that all logs are prepended INFO, which makes it invalid JSON. It seems there is no way to disable this currently besides overwriting methods in the `octane:start` command.

The problem is here: https://github.co

[2022-06-20 15:16] Namoshek commented on #544
This issue has been discussed before in #341 and #437. After #438 was opened as alternative to #437, someone realized logging to `stderr` (instead of `stdout`) does not prepend the RoadRunner / Swoole log level. 👍

[2022-06-20 17:24] LauJosefsen commented on #544
Thanks for referring me to previous work. I think I must have forgotten to search for previous issues/PR.

However, this still leaves me wondering, is it acceptable that we cannot fully control the output format from a custom logger? I can of course change the logging to stderr, but it just feels like a hack to me. It would also mean that every custom logger needs to have a specific implementation

[2022-06-21 07:34] driesvints commented on #544
Right now, I don't think we'll reconsider the above PR. We do, however, would appreciate a PR to the docs to document the usage of `stderr`.

[2022-06-21 07:34] #544 closed

[2022-06-21 08:11] nunomaduro commented on #543
Can you run `./rr -v` and give me the output?

[2022-06-21 09:00] jangaraev commented on #543
here is the output @nunomaduro

hm. looks like I have updated files, but not the rr executable. right?

[2022-06-21 09:20] jangaraev commented on #543
@nunomaduro thanks for pointing out a direction!

I've done the following:
- stopped the octane
- updated the binary via `rr get-binary`
- started the octane
- tried the `artisan octane:reload` command

everything works fine!

several questions then:
- there is nothing which performs that binary update automatically during `composer update`, right?
- does this mean we have to do that manually ever

[2022-06-21 09:21] driesvints commented on #543
No this is a manual task.

Yes.

[2022-06-21 10:59] nunomaduro commented on #542
You will need to clarify or solve the issue with the original authors of the package. On the Octane side, the `beforeResolving` feature, from the Laravel's service container, is working as expected:

[code]

When you visit `/`, you will see `'its working'` on the browser.

[2022-06-21 10:59] #542 closed

[2022-06-22 01:03] ibrunotome opened #545 "Swoole\Http\Response::create(): parameter $2 must be valid connection session id"
- Octane Version: v1.2.12
- Laravel Version: v9.18.0
- PHP Version: 8.1.0
- Server & Version: Swoole / RoadRunner openswoole/swoole:4.11.1-php8.1-alpine
- Database Driver & Version: postgres 14.1-alpine

### Description:

Debuging in a semi-production environment with cloudflare pointing to google cloud load balancer IP -> GKE ingress -> app:8000, a login request works like 14/15 of the times, but

[2022-06-22 15:58] ibrunotome commented on #545
more info:

FortifyServiceProvider:

[code]

my login action

[code]

[2022-06-25 17:02] LauJosefsen opened #546 "Opcache is not cleared before worker (re)boot"
- Octane Version: v1.2.12
- Laravel Version: v9.3.1
- PHP Version: 8.1.0
- Server & Version: OpenSwoole 4.11 and also Swoole 4.8.10
- Database Driver & Version: Not relevant

### Description:
The opcache is not cleared before the worker boot, resulting in hot reload not working with all bootstrapped content using at least Swoole and OpenSwoole. (tested with both)

The solution is very simple, and

[2022-06-27 07:03] driesvints commented on #546
Looks like you sent in a PR so let's see how that goes. Thanks

[2022-06-27 07:03] #546 closed

[2022-06-29 14:52] ibrunotome commented on #545
Please let me know how I can be more helpful.

[2022-06-30 08:03] #545 closed, assigned to nunomaduro

[2022-06-30 11:08] ibrunotome commented on #545
Ok @driesvints, since it's an error inside a code/package that is not in "userland", I thought it was a bug.

[2022-07-01 15:33] tndotdev opened #548 "Octane and Swoole doesn't work with Sail"
- Octane Version: 1.2.14
- Laravel Version: 9.19.0
- PHP Version: 8.1.7
- Server & Version: Swoole 4.8.5.2
- Database Driver & Version:

### Description:

That's what I get in logs

[code]

### Steps To Reproduce:

[2022-07-04 12:49] driesvints commented on #548
Hey there,

Can you first please try one of the support channels below? If you can actually identify this as a bug, feel free to open up a new issue with a link to the original one and we'll gladly help you out.

- [Laracasts Forums](https://laracasts.com/discuss)
- [Laravel.io Forums](https://laravel.io/forum)
- [StackOverflow](https://stackoverflow.com/questions/tagged/laravel)
- [Discord](https

[2022-07-04 12:49] #548 closed

[2022-07-05 13:20] ariaieboy commented on #535
ok, I've searched about this error and it's generated from the supervisor application, not the laravel octane runtime so a quick turnaround is to set a `startretries=10000` in the supervisord.conf, supervisor default `startretries` value is 3 so after 3 attempts it will return a Fatal Error and stop trying to launch the swoole so by setting a large number it will keep restarting the swoole runtime

[2022-07-07 20:38] Cluster2a opened #551 "Carbon localization not set via App::setLocale()"
- Octane Version: 1.2
- Laravel Version: 8.54
- PHP Version: 8.1
- Server & Version: Swoole 4.8.8
- Database Driver & Version: 8.0.28

### Description:
I am using a localization middleware that loads the user language and sets the App localization:
[code]
Setting the localization of the App will result in heaving localized Carbon dates (Monday / Montag),  as long as I run the App using NGINX Unit.

[2022-07-11 10:10] mcolominas commented on #551
This is an expected problem, because of how Laravel Octane works.

Laravel Octane is instantiated only once, so carbon is also instantiated only once, even if you call it several times in different requests, therefore, it will always get the default language it was instantiated with.

But be careful, if for example, it is instantiated by the default language `en`, but you change it to another lang

[2022-07-11 19:30] Cluster2a commented on #551
Thanks for the explanation and the workaround.

[2022-07-13 08:26] driesvints commented on #551
Thanks for the report @Cluster2a and for the solution @mcolominas. Looks like this indeed needs to be fixed within Carbon itself.

[2022-07-13 08:26] #551 closed

[2022-07-14 20:57] kylekatarnls commented on #551
We can work around this in Carbon, I think about something like this:
https://github.com/briannesbitt/Carbon/pull/2639

So we don't break support for existing application that might need events to be bound to `$this->app` and also be resilient if `Container::getInstance()` is not available.

@driesvints Can you explain why in the first place `App::setLocale()` is producing a `LocaleUpdated` events

[2022-07-15 06:41] driesvints commented on #551
I'm probably not the right person to answer this. @nunomaduro might shed some more light here.

[2022-07-15 15:10] mcolominas commented on #551
@kylekatarnls Here he explains a little how octane works [Dependency Injection & Octane](https://laravel.com/docs/9.x/octane#dependency-injection-and-octane)

[2022-07-17 10:06] timrspratt opened #553 "Shared view variables persist leading to different results"
- Octane Version: 1.2.15
- Laravel Version: 9.20.0
- PHP Version: 8.1
- Server & Version: Swoole

### Description:

It looks like the view shared data persists across requests. Should it be cleared at the same time as the `app` container variable is reset? The scenario below shows how the order of accessing the views would affect the content.

### Steps To Reproduce:

Create 2 routes that point to

[2022-07-18 06:53] driesvints commented on #553
This is odd since we have a test that indicates that confirms is working right now:

https://github.com/laravel/octane/blob/6f482ebe74c2c59eb54bb512821ae6987df99613/tests/ViewFactoryStateTest.php#L29-L47

I'm wondering what's specific to your situation that makes it fail.

[2022-07-18 07:27] Namoshek commented on #553
@driesvints This test case implies that it is expected behavior that shared view variables persist across requests. But I'm inclined to agree with @timrspratt that this is totally unexpected from a developer standpoint. I've never used the view context so far (at least not directly), but I assume the view context is not persisted within php-fpm, or is it?

[2022-07-18 07:28] driesvints commented on #553
@Namoshek you're right. I'll check with the team.

[2022-07-18 08:40] timrspratt commented on #553
Thanks @driesvints for highlighting this test. From my point of view, it feels incorrect as the `/second` endpoint would have different outcomes depending on if the worker had previously served `/first` or not.

From the team's experience are there any scenarios where sharing view data across requests would be expected and useful behavior?

Since a fpm request wouldn't provide this behaviour, woul

[2022-07-18 14:49] avlima opened #554 "Octane concurrently very slow to resource model"
- Octane Version: 1.2
- Laravel Version: 8.4.0
- PHP Version: 8.1
- Server & Version: Swoole / RoadRunner: OpenSwoole 4.11.1
- Database Driver & Version: pgsql

### Description:

I'm trying to improve the performance of my model resources.
This is a simple test that without Octane corrotine takes 2 seconds.
I tried to divide them and play inside a coroutine but the time that used to be 2 seconds,

[2022-07-18 15:02] taylorotwell commented on #553
Hmm, the fact that we have a test for this gives me some pause. It may be that we expected View::share to be called again and overwrite the old variables on subsequent requests and planned to leave them in place otherwise. Changing this could break people's applications depending on that behavior so hesitant to change this now. It can have some performance utility.

[2022-07-18 15:04] driesvints commented on #554
Hey there,

Can you first please try one of the support channels below? If you can actually identify this as a bug, feel free to open up a new issue with a link to the original one and we'll gladly help you out.

- [Laracasts Forums](https://laracasts.com/discuss)
- [Laravel.io Forums](https://laravel.io/forum)
- [StackOverflow](https://stackoverflow.com/questions/tagged/laravel)
- [Discord](https

[2022-07-18 15:04] #554 closed

[2022-07-18 15:58] timrspratt commented on #553
Hey @taylorotwell, I agree that it would break for those currently "using" this behavior, despite being unable to think of an actual use case for doing so.

I will macro on the view factory a method to `clearShared` and call it from a listener for the `RequestReceived` event to resolve this for my use case.

Thanks

[2022-07-18 16:01] timrspratt commented on #553
Closing this issue but at least it is recorded for any future developers who encounter the issue to pick back up.

[2022-07-18 16:17] Namoshek commented on #553
@timrspratt @taylorotwell would it make sense to add this listener as disabled by default to the core?

[2022-07-18 18:38] driesvints commented on #553
@Namoshek maybe try a pr?

[2022-07-23 15:37] kylekatarnls commented on #551
Please consider the idea exposed in #556

[2022-08-01 13:31] avlima commented on #554
Hi,
I posted my issue on these channels:

Laracasts Forums
Laravel.io Forums
StackOverflow
Discord
Larachat
IRC

But so far no one has replied, can't I get help from you guys here?

[2022-08-02 12:22] dhtmdgkr123 opened #559 "Uncaught Error: Call to undefined method Swoole\Http\Server::tick"
- Octane Version: 1.2.16
- Laravel Version: 9.22.1
- PHP Version: 8.1.8
- Server & Version: Swoole 5.0.0
- Database Driver & Version:

### Description:
[code]
swool version 5.0.0 raise this error

![image](https://user-images.githubusercontent.com/27611405/182373153-163fd9b5-e749-4312-a0b5-e30a348f2308.png)

### Steps To Reproduce:
1. pecl install swool
2. php artisan octane:start --host=docker.ho

[2022-08-02 12:25] driesvints commented on #559
Not sure if we already suppport Swoole v5?

[2022-08-02 12:32] dhtmdgkr123 commented on #559
i alteady downgrade swool 5 to  4 and ot working!!

[2022-08-02 14:04] nunomaduro commented on #559
I confirm that Octane currently does not support Swoole 5. I am currently working on getting Octane ready for it.

[2022-08-02 15:44] #559 closed

[2022-08-04 19:36] dac-humi opened #561 "Support Building a gRPC server in Octane + Roadrunner"
PHP doesn't have support for building gRPC servers, only gRPC clients.

Not true for PHP+Roadrunner.

Using Roadrunner version 2.10.7 Laravel can be configured to use Octane for HTTP alongside a separate PHP entrypoint for gRPC requests.

What follows is a proof of concept. I did it as part of a hackathon. It's not clean or platform agnostic (i'm on MacOS) but it can hopefully lead into a feature

[2022-08-08 14:05] taylorotwell commented on #561
I don't personally plan to invest any time into this as it is not something we would really be using or ever understand here at Laravel. Feel free to fork or create your own version of Octane that supports this if you wish!

[2022-08-08 14:05] #561 closed

[2022-08-08 14:20] saderi opened #562 "Changing non-standard HTTP status codes to 200 OK"
- Octane Version: 1.3.0
- Laravel Version: 9.19
- PHP Version: 8.1.9
- Server & Version: Swoole 4.11.1

### Description:
This is so similar to issue #291, just instead of `Illuminate\Session\TokenMismatchException` we used `Symfony\Component\HttpKernel\Exception\HttpException`

When I try to use any non-standard HTTP status codes I always get "200 OK", but in Octane logs its right status code, for

[2022-08-08 15:01] nunomaduro commented on #562
We understand that the status code you are proposing should be respected by Octane. Do you mind making a pull request that addresses that issue?

[2022-08-08 15:01] #562 closed

[2022-08-10 00:00] kocoten1992 commented on #171
Hi @themsaid, how you was able detect memory leak?

I got a leak and was trying to find a memory leak detector for swoole, but find none so far.

[2022-08-17 21:43] mubahood commented on #252
You must be having an error in your code, check in the terminal when you launch the site. You will see an issue written in terminal, so the server crashes and stop working hence loading forever.
What to do, see when your project begins, them test line by line and you will see the culprit.

[2022-08-18 02:45] aarondfrancis commented on #265
This was also really confusing to me. The docs state that

I put this in my service provider:

[code]

and this in a controller

[code]

And every request generates a new "making" log entry.

Adding it to the `warm` array makes that go away. I'm not sure if that's intended behavior and the docs are misleading, or if it's a bug.

Thanks @mfn for reporting what you found!

[2022-08-21 09:48] Ekion-1 commented on #256
I agree; it seems a bit short sighted. Don't get me wrong, I appreciate the work you guys have put into Octane but without coroutines I don't understand the real-world benefit.

@nunomaduro do you have an update from the team regarding if this will be tackled?

[2022-08-29 15:29] Radiergummi opened #568 "OpenSwoole: Streamed response adds invalid "Transfer-Encoding: chunked" header"
- Octane Version: `1.3.0` (current, see repro)
- Laravel Version: `9.26.1` (current, see repro)
- PHP Version: `8.1.2`
- Server & Version: Swoole / ~RoadRunner~ 4.10.0
- Database Driver & Version: -

### Description:
When using Octane with the swoole integration, streaming downloads from the filesystem don't work with certain software because an illegal header combination is added to the response;

[2022-08-29 15:45] Radiergummi commented on #568
As a temporary fix, I removed the `Content-Length` header by setting it to null:
[code]
This precludes Laravel from setting its own `Content-Length` header, so the response won't contain any, and nginx doesn't complain. This makes it impossible to have download progress on client browsers, however, so this is merely a temporary workaround.

[2022-09-01 19:34] butschster commented on #561
![image](https://user-images.githubusercontent.com/773481/187997522-f1157e9a-b998-4dac-b78d-ec5ce186baee.png)

[2022-09-02 10:27] nunomaduro commented on #568
Taking a look at this next week.

[2022-09-02 15:52] christianceb commented on #561
@dac-humi You have no idea how much I needed this months ago on my microservice cluster. I did try to make a PoC of this back then by piecing out info out there, but I just wasn't successful and did not have the time to do so and settled with good ol' slow REST and message queues :(

A shame that the devs don't see the value on this. Although I would not be surprised if it gets quietely added in t

[2022-09-02 16:10] dac-humi commented on #561
Thanks. As mentioned in the linked ticket, it's easier to start with: https://github.com/spiral/app-grpc

To address the _"or ever understand here at Laravel"_  if I were to rewrite the issue it I would have started with:

Good times.

[2022-09-03 19:38] christhomas opened #572 "Installation instructions don't work as expected"
I'm following the instructions here: https://laravel.com/docs/9.x/octane

I execute the following instructions in an empty folder
[code]

After that, I attempt to execute
[code]

But there is no artisan command installed. So what do I do in order to install artisan?

[2022-09-03 19:54] bumbummen99 commented on #572
artisan is a file in your laravel project root folder

[2022-09-03 19:57] christhomas commented on #572
I can answer my own question, the installation instructions are not a complete set of instructions from scratch, but first you must install a laravel application into the folder, then on top of that new laravel project, you follow the instructions for octane. It does not say this in the installation instructions, but this appears to be what they expect you to do.

[2022-09-03 19:57] #572 closed

[2022-09-04 19:41] christhomas opened #573 "How to configure swoole to output request information like nginx would"
I'm curious how to configure swoole inside octane so that when a request comes in, it'll output information to the stdout/stderr so I can get some general information about requests hitting the server? The typical information I would like to see, would be something similar to what would happen in the nginx log when I request from it.

[2022-09-05 06:58] driesvints commented on #573
Hi there,

Thanks for reporting but it looks like this is a question which can be asked on a support channel. Please only use this issue tracker for reporting bugs with the library itself. If you have a question on how to use functionality provided by this repo you can try one of the following channels:

- [Laracasts Forums](https://laracasts.com/discuss)
- [Laravel.io Forums](https://laravel.io/f

[2022-09-05 06:58] #573 closed

[2022-09-05 12:09] christhomas commented on #573
I kind of solved this problem by writing two middlewares and adding them to the `config/octane.php` file

config/octane.php:
[code]

app/Http/Middleware/OctaneStartRequest.php
[code]

app/Http/Middleware/OctaneFinishRequest.php
[code]

and it outputs lines into the error log which look like this:
[code]

[2022-09-11 22:16] marianoarga opened #578 "Octane server suddenly stops"
- Octane Version: 1.2
- Laravel Version: 9.19.0
- PHP Version: 8.0.22
- Server & Version: Swoole / RoadRunner: Swoole 5.0.0
- Database Driver & Version:

### Description:
Octane server suddenly stops when runnin applicacion normally, it only serves a few request reloading the page, is there any way to know by logs what's causing the crash?
The only thing I see on log is this lines (when server sta

[2022-09-12 07:40] driesvints commented on #578
Hi there,

Thanks for reporting but it looks like this is a question which can be asked on a support channel. Please only use this issue tracker for reporting bugs with the library itself. If you have a question on how to use functionality provided by this repo you can try one of the following channels:

- [Laracasts Forums](https://laracasts.com/discuss)
- [Laravel.io Forums](https://laravel.io/f

[2022-09-12 07:40] #578 closed

[2022-09-13 06:41] #568 closed

[2022-09-16 08:57] RealMrHex opened #584 "PHP 8.2 Support"
Hi, please add PHP 8.2 Support :)
Thanks a lot ❤️

[2022-09-16 09:18] driesvints commented on #584
PHP 8.2 is still being developed. We'll add support closer to its release date. Thanks

[2022-09-16 09:18] #584 closed

[2022-09-21 03:23] MochamadTegar opened #585 "Unable to determine the current RoadRunner binary version"
I use Windows 10

![image](https://user-images.githubusercontent.com/33660856/191407024-925cb080-4af7-4054-86c0-4d78698a5f92.png)

When I use command: php artisan octane:install
![image](https://user-images.githubusercontent.com/33660856/191407263-30d7020b-405a-4784-b0aa-2aa99a707d0c.png)

References: https://developpaper.com/installing-roadrunner-in-laravel-octane/

[2022-09-21 06:31] driesvints commented on #585
Hi there,

Thanks for reporting but it looks like this is a question which can be asked on a support channel. Please only use this issue tracker for reporting bugs with the library itself. If you have a question on how to use functionality provided by this repo you can try one of the following channels:

- [Laracasts Forums](https://laracasts.com/discuss)
- [Laravel.io Forums](https://laravel.io/f

[2022-09-21 06:31] #585 closed

[2022-09-21 15:55] ignacioalles commented on #568
It seems to be a bad behaviour of `Swoole\Http\Response::write(string $content)`  method, since `end(string $content)` method works as expected.

The following test sample using `write()` method to send content:
[code]
produces:
[code]

while sending content in `end()` like:
[code]
does not include `Transfer-Encoding` header:
[code]

[2022-09-27 10:38] temmyscope opened #586 "PHP Swoole Fatal TypeError on octane:start on Laravel 9, PHP 8.1 app"
- Octane Version: v1.3.1
- Laravel Version: v9.31.0
- PHP Version: 8.1
- Server & Version: Swoole (or Openswoole) 4.11.1
- Database Driver & Version:

### Description:
The swoole server keeps terminating, throwing a `TypeError: Swoole\Server::__construct(): Argument #2 ($port) must be of type int, string given`.

It shows that the errror is coming from `vendor/laravel/octane/bin/createSwooleServer

[2022-09-27 10:40] driesvints commented on #586
Hi there,

Thanks for reporting but it looks like this is a question which can be asked on a support channel. Please only use this issue tracker for reporting bugs with the library itself. If you have a question on how to use functionality provided by this repo you can try one of the following channels:

- [Laracasts Forums](https://laracasts.com/discuss)
- [Laravel.io Forums](https://laravel.io/f

[2022-09-27 10:40] #586 closed

[2022-09-27 14:35] olivernybroe opened #587 "Controllers are not dropped per request"
- Octane Version: v1.3.1
- Laravel Version: v9.31.0
- PHP Version: 8.1.10
- Server & Version: Swoole  4.8.7
- Database Driver & Version:

### Description:
A controller will have the same instance throughout the whole lifetime of the application.

This doesn't sounds like a problem when first hearing it, the problem is when you start to do dependency injections via the constructor on a controller.

[2022-09-28 21:41] ibrunotome opened #588 "bug: Call to a member function status() on bool in EnsureRequestsDontExceedMaxExecutionTime"
- Octane Version: v1.3.1
- Laravel Version: v9.32.0
- PHP Version: 8.1.1
- Server & Version: OpenSwoole 4.11.1
- Database Driver & Version: postgres 14

### Description:

<img width="1676" alt="Screen Shot 2022-09-28 at 18 33 00" src="https://user-images.githubusercontent.com/4256471/192892757-bf6b9bc2-4355-43bc-85a8-15f8823ec53c.png">

### Steps To Reproduce:

Make a request longer config `max_ex

[2022-09-29 14:30] driesvints commented on #588
Can you send in a PR?

[2022-09-29 15:18] taylorotwell commented on #587
This should only be the case if your controller is registered as a singleton?

[2022-09-29 15:41] driesvints commented on #588
@nunomaduro do you know?

[2022-09-29 17:27] olivernybroe commented on #587
The controller is not a singleton and I am just injecting the `Laravel\Socialite\Contracts\Factory`.

However I just tried your idea with a fresh Laravel application, with Octane installed and a simple invokable controller to return the dashboard.

I added a logging into the constructor and the invokable method and this is the result. (the number is the spl object id)
<img width="817" alt="image"

[2022-09-29 17:42] olivernybroe commented on #587
To show the problem I was talking about with Socialite factory, I have created a branch for replicating that issue.
Here is a screenshot of the object id's which shows that the id of the request object does not change in the github driver.
<img width="831" alt="image" src="https://user-images.githubusercontent.com/5870441/193103934-31a5530c-281b-4b30-a26c-1a4520dc7db8.png">

https://github.com/oli

[2022-09-29 19:50] taylorotwell commented on #587
I don't think dumping the object ID is a good way to determine the same instance is being used. For instance, this will dump the same object ID on every request even without using Octane even though it is obvious a new instance is being used every request:

<img width="654" alt="CleanShot 2022-09-29 at 14 49 41@2x" src="https://user-images.githubusercontent.com/463230/193128275-c9a032f7-7118-4711-

[2022-09-29 20:07] taylorotwell commented on #587
In this example, a new random string is returned on each request when using Octane + Roadrunner locally. That tells me the controller is not being reused across requests:

<img width="867" alt="CleanShot 2022-09-29 at 15 07 48@2x" src="https://user-images.githubusercontent.com/463230/193131623-99e9d114-98a0-4bd3-8fc1-2f50a9273fef.png">

[2022-09-29 20:50] taylorotwell commented on #587
@olivernybroe we were able to recreate this locally - it seems it has always been this way.

However, I am confused about your `AuthManager` comment. How can I recreate locally being logged into other people's accounts?

AuthManager state is flushed on every request.

[2022-09-30 06:54] olivernybroe commented on #587
@taylorotwell I see your point about object id as it can in theory get the exact same memory location, however in my examples I posted I also did a log in the constructor and that is only happening once.

I also just tried the example you shared here and I get the same value every time.

https://user-images.githubusercontent.com/5870441/193206816-bdc9b66a-a7fe-4cd9-a565-836b6a1fd33d.mp4

I did rea

[2022-09-30 06:56] driesvints commented on #587
@olivernybroe Nuno and Taylor came up with a fix already which we're probably gonna tag somewhere today:

https://github.com/laravel/octane/pull/589
https://github.com/laravel/framework/pull/44386

[2022-09-30 07:06] olivernybroe commented on #587
@driesvints Ah cool!

I just tried installing dev laravel and Nuno's branch with the fix for octane and it seems to solve it! 🎉

Thanks team ❤️

[2022-09-30 13:19] driesvints commented on #587
Fixed now, thanks!

[2022-09-30 13:19] #587 closed

[2022-09-30 14:43] L3o-pold opened #591 "Memory leak using Eloquent's dynamic properties with a relationship that have `using` method."
- Octane Version: 1.3.2
- Laravel Version: 9.32.0
- PHP Version: 8.1.11
- Server & Version: Swoole 4.8.10
- Database Driver & Version: MySQL 8.0

### Description:

https://github.com/L3o-pold/laravel-bug-report / https://github.com/L3o-pold/laravel-bug-report/commits/main

Memory leak using Eloquent's dynamic properties with a relationship that have `using` method.

[code]

### Steps To Reproduce:

[2022-09-30 19:24] nunomaduro commented on #591
@L3o-pold Can you fire thousands of requests, to see if there is indeed a memory leak? Having the memory spiking a few megabytes is not necessary a memory leak, but a peak of PHP's memory usage that will be collected once the garbage collector gets used.

You may use the `wrk` tool for firing thousands of requests (wrk -t100 -c100 -d60 http://127.0.0.1:8000). Please re-open the issue if there is i

[2022-09-30 19:24] #591 closed

[2022-10-03 08:02] smortexa opened #592 "Serving static files with non-ASCII characters naming"
- Octane Version: 1.3.1
- Laravel Version: 9.29.0
- PHP Version: 8.1.8
- Server & Version: Swoole 4.8.10
- Database Driver & Version: N/A

### Description:
The Laravel Octane Swoole HTTP server can't serve static files with non-ASCII characters naming and returns Laravel 404 page.

### Steps To Reproduce:

Put `تست.jpg` or `テスト.jpg` in `public` directory and hit
`<your-local-server>/تست.jpg` or `<

[2022-10-03 09:26] NathanFreeman commented on #592
Can you please show me you the setting of `document_root` , `enable_static_handler` ?

[2022-10-03 09:48] smortexa commented on #592
@NathanFreeman I didn't add any extra configuration to Octane's default configuration, and Octane has no specific config for `document_root` and `enable_static_handler`.

[2022-10-04 02:34] sy-records commented on #592
This is a configuration item provided by Swoole, which you can set in `config/octane.php`

[code]

[2022-10-04 06:28] smortexa commented on #592
@sy-records I can confirm that with this configuration the issue was resolved.

[2022-10-04 07:18] driesvints commented on #592
Glad you found a solution. Thanks @sy-records

[2022-10-04 07:18] #592 closed

[2022-10-04 15:26] aaronhuisinga opened #594 "Constructor middleware broken by #589"
- Octane Version: 1.3.2+
- Laravel Version: 9.32.0
- PHP Version: 8.1.x
- Server & Version: Laravel Vapor (whichever the default is)
- Database Driver & Version: MySQL 8

### Description:
After #589 was merged, we've had an issue causing us to revert to v1.3.1. In several of our applications running Octane, we create a BaseController that allows us to reference the current user via `$this->user` i

[2022-10-09 18:40] foremtehan opened #596 "Octane::route not working when using route:cache"
- Octane Version: 1.3
- Laravel Version: 9.*
- PHP Version: 8.1
- Server & Version: Swoole

### Description:
When using `php artisan route:cache` the routes which defined by `Octane::route` become unavailable and we'll get 404 not found.

### Steps To Reproduce:

with Docker:

1. create Dockerfile:
[code]
2. `docker build -t myswoole .`
3.  `docker run -d -p 9000:9000 myswoole`

hit `http://localh

[2022-10-09 20:17] Namoshek commented on #596
You are caching the routes before you add the route in your example.

[2022-10-09 20:30] foremtehan commented on #596
@Namoshek i fixed the order but it still not working.

[2022-10-11 12:19] ejulen opened #597 "Enable explicitly setting Roadrunner logging level"
Hello, recently ran into a situation at work where it would've been very useful to be able to explicitly set the Roadrunner log level [without manipulating `APP_ENV`](https://github.com/laravel/octane/blob/1.x/src/Commands/StartRoadRunnerCommand.php#L90). Please correct me if there is another way of doing it - setting it in `.rr.yaml` just seems to be overridden due to the `-o` flag usage in `Star

[2022-10-12 12:48] precamp-io commented on #285
I am using Laravel 8 and have been working on this application for months and it suddenly appeared today.

[2022-10-12 12:59] sikhlana commented on #285
@precamp-io this error now occurs for packages/code outside of Laravel's scope. I have added a retry block where this issue persisted when using `doctrine/dbal`. Hope this example helps:

[code]

[2022-10-14 16:15] pmccarren opened #598 "RoadRunner Relay Overrides"
Hello!

The RoadRunner Relay is the mechanism leveraged to communicate between the parent RoadRunner process and a worker.

Currently, this relay is hard-defined as `pipes`, which uses unix pipes (`stdin`/`stdout`) to communicate. This should be optionally be configurable.

This is necessary when `stdout` is used for logging or other means. A unix socket can be used as a drop in replacement.

[2022-10-14 18:09] #598 closed

[2022-10-15 07:59] driesvints commented on #596
It's not recommended to add routes dynamically like that. Please use a routes file.

[2022-10-15 07:59] #596 closed

[2022-10-19 14:21] erikwestlund commented on #553
Just to follow up to this, I'm working on making parts of our app to be served by Octane-based instances. Some legacy code relies upon Service Providers that get auto-loaded. These composers then share variables with a handful of layouts/blade files like this:

[code]

This can cause errors because, I believe, what is happening is an instance of the app boots first that does not rely upon the spec

[2022-10-24 07:25] driesvints commented on #597
Feel free to attempt a PR 👍

[2022-10-24 07:25] #597 closed

[2022-10-25 14:55] rndb8418 commented on #594
Further to my previous comment, it looks like the middleware might being ran on the old controller instance or something peculiar like that. This is some rudimentary logging to show a similar flow (middleware in a base controller's constructor, then a method within a controller that extends it).

[code]

At the end (the ERROR line), is where it encounters the data not set (it seems to consistently

[2022-10-26 00:52] saulens22 opened #602 "Roadrunner cannot start, broken by #601"
- Octane Version: 1.3.4
- Laravel Version: 9.37.0
- PHP Version: 8.1.11
- RoadRunner: 2.11.4
- Database Driver & Version: not relevant

### Description:

When not setting log level in `octane:roadrunner` command, RoadRunner fails to start. Setting it fixes the problem, but the parameter `logLevel` should be optional.

Here's error log:

[code]

### Steps To Reproduce:

Update to Octane v1.3.4 and

[2022-10-26 04:48] leekung commented on #602
same here (version v1.3.4). but I start in docker with default config, server is roadrunner set in .env
[code]
[code]

[2022-10-26 07:24] driesvints commented on #602
Reverted the related PR. Thanks for reporting.

[2022-10-26 07:24] #602 closed

[2022-10-28 12:16] nunomaduro commented on #594
@aaronhuisinga @rndb8418 Can you update to the latest version of Laravel Framework and Octane, and tell us if you are still experience any issues?

[2022-10-28 13:13] rndb8418 commented on #594
I've done a completely fresh install like:

1. `laravel new [project]`
2. `composer require laravel/octane`
    1. roadrunner & install binary
3. `php artisan make:controller HomeController`
4. Update `web.php` to be:
[code]
5. Update `app/Http/Controllers/Controller.php` to be:
[code]
6. Update `app/Http/Controllers/HomeController.php` to be:
[code]
7. Run `php artisan octane:start`
8. Refresh th

[2022-10-28 14:53] driesvints commented on #594
We've sent in some fixes for this. These will be released on Tuesday.

[2022-11-01 14:53] nunomaduro commented on #594
Fixed on the most recent version of Laravel.

[2022-11-01 14:53] #594 closed

[2022-11-02 13:49] xorinzor opened #608 "[Feature Request] Add commandline option defaults to the octane config file"
Building further on PR #605 and my PR #607 which have added the option to pass the `port` and `host` value via `OCTANE_PORT` and `OCTANE_HOST` environment variables:

Ideally these (and the other commandline values) should be added in the `config/octane.php` config file in a [similar fashion](https://github.com/laravel/octane/blob/1.x/config/octane.php#L39) to how the `server` default value is set

[2022-11-07 10:29] vantezzen opened #609 "Allow arbitrary number of background tasks or add task limit to docs"
It looks like `Octane::concurrently()` internally uses `Swoole->taskWaitMulti` to run the tasks concurrently.

According to the [Swoole Docs](https://openswoole.com/docs/modules/swoole-server-taskWaitMulti), "[the] maximum number of concurrent tasks must not exceed 1024", otherwise an exception is thrown. This is however not documented in the [Octane Docs](https://laravel.com/docs/9.x/octane#concu

[2022-11-07 10:33] driesvints commented on #609
We'd appreciate a PR to the docs 👍

[2022-11-07 10:33] #609 closed

[2022-11-07 10:34] vantezzen commented on #609
Thanks, I'll do that 👍

[2022-11-08 13:31] nunomaduro commented on #608
Thank you for your feedback. We will consider it for future (major) versions of this package.

[2022-11-08 13:31] #608 closed

[2022-11-08 18:12] Dylan-Buth opened #610 "rr binary has wrong permissions after downloading"
- Octane Version: 1.3.5
- Laravel Version: 9.37.0
- PHP Version: 8.1
- Server & Version: RoadRunner 2.11.4
- Database Driver & Version:

### Description:
Just upgraded to Laravel 9 and PHP 8.1, for Laravel 8 and PHP 8.0. We use docker for local development as well as production. When starting the php container after the upgrade it exits immediately. Output in screenshot below.

<img width="1097" a

[2022-11-09 07:29] driesvints commented on #610
Hi there,

Thanks for reporting but it looks like this is a question which can be asked on a support channel. Please only use this issue tracker for reporting bugs with the library itself. If you have a question on how to use functionality provided by this repo you can try one of the following channels:

- [Laracasts Forums](https://laracasts.com/discuss)
- [Laravel.io Forums](https://laravel.io/f

[2022-11-09 07:29] #610 closed

[2022-11-09 14:51] Dylan-Buth commented on #610
@driesvints I can post on a support forum but it seemed like it was a bug with the library itself. Nothing on my end changed other than the version of the package and php.

How do I know if it's a bug with the library or an issue with my container? Should I post again here if no one is able to help me on other sites?

[2022-11-09 16:01] Dylan-Buth commented on #610
@driesvints I found the issue and have confirmed it's working locally. I have a branch with the fix but don't have permission to push.

Essentially the `755` permissions just needed a `0` prefix to specify it as an octal value, per the [chmod docs](https://www.php.net/manual/en/function.chmod.php).

When I update line 174 of `InstallsRoadRunnerDependencies.php` to the following, then delete the rr

[2022-11-09 16:03] Dylan-Buth commented on #610
Only thing I could find from the php changelog that references octal values. https://www.php.net/releases/8.1/en.php#explicit_octal_numeral_notation

[2022-11-09 16:08] driesvints commented on #610
hmm that could be maybe yeah. Can you send in a PR?

[2022-11-18 18:46] foremtehan opened #617 "`Octane::route` prints exceptions into console"
- Octane Version: 1.3.6
- Laravel Version: 9.*
- PHP Version: 8.1.12
- Server & Version: Swoole
- Database Driver & Version:

### Description:
I realised whenever a exception thrown in `Octane::route` it also get dump in console (swoole server) there is not issue with traditional laravel route

### Steps To Reproduce:

Dockerfile:

[code]

routes/web.php (included in the image)

[code]

`docker bu

[2022-11-19 23:10] kocoten1992 opened #620 "memory leak on welcome page (laravel new app - swoole)"
Hi, I've notice a wierd phenomenon about octane (swoole), it greatly reduce it performance if let run for a while.

- Octane Version: v1.3.8
- Laravel Version: v9.40.1
- PHP Version: 8.1.11
- Server & Version: Swoole / RoadRunner: swoole-4.8.10
- Database Driver & Version: not relevant

### Description:
Octane run much lower than it capacity when let it run for a while, I've a synthetically script

[2022-11-20 01:31] roDRYgo0 opened #621 "Problem with static variables in service provider"
- Octane Version: 1.3
- Laravel Version: 9.19
- PHP Version: 8.1.9
- Server & Version: Swoole  4.11.1

I am currently using Laravel Nova in conjunction with Octane. Within the service provider I am declaring de nova I am declaring the following:
[code]

Which is used for Nova to resolve the resource with the model that I tell it.

The problem is that when I'm running Octane completely ignores it.

[2022-11-20 04:28] crynobone commented on #621
This is not a bug on Octane or Nova as Service Providers only loaded once. `App\Providers\NovaServiceProvider` already has `resources()` method to handle registration properly for Octane.

[2022-11-20 05:03] roDRYgo0 commented on #621
Ok I understand. So is there any way I could use this feature with octane?

[2022-11-20 05:17] crynobone commented on #621
I already answered that.

[2022-11-20 08:03] sy-records commented on #617
If you don't want to throw an exception in the console, you can comment it out.

https://github.com/laravel/octane/blob/f4907e74065879c0f3b21d82da04ee4624a637a2/config/octane.php#L110

[2022-11-20 08:28] #617 closed

[2022-11-20 14:46] roDRYgo0 commented on #621
I already managed to solve, thank you

[2022-11-20 14:46] #621 closed

[2022-11-22 08:41] sy-records commented on #620
Have you done any testing after removing `max-requests`?

[2022-11-22 09:32] kocoten1992 commented on #620
I've not actually. In local testing it does seem stabilized, suggesting this is a memory leak scenario. Then I go ahead and remove `-q`, memory does indeed increasing.

early request:
`15.09 mb`

latter request:
`22.04 mb`

Guess it leaking somewhere in my app, and coincidentally homepage on laravel newly app also leak...